n8n/workflows/Salon-Bella.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-05-03T05:22:10.164Z",
    "createdAt": "2026-04-27T01:38:51.264Z",
    "id": "nHNPhKrI2c6Bx04W",
    "name": "Salon Bella",
    "description": "v10 — Sin AutoFix (era el que pisaba data). Temp 0.2. Memory 15. Prompt con regla CRÍTICA de persistencia de data + ejemplos turno-a-turno. IF ready_to_book valida los 5 campos no-null antes de bookear.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "reserva",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "bd2bd3d4-c871-4ac5-bdf7-7c7b863c3d75",
        "name": "Webhook · Reserva por Formulario",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          224,
          32
        ],
        "webhookId": "0c5829ee-96d3-4f06-b5f2-5a5c38020e1e",
        "credentials": {
          "httpHeaderAuth": {
            "id": "QN6X4yz4aXBfZpvd",
            "name": "Salon Bella Webhook Auth"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "nombre_completo",
                "value": "={{ $json.body.nombre_completo }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "telefono",
                "value": "={{ $json.body.telefono }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "email",
                "value": "={{ $json.body.email }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "servicio_nombre",
                "value": "={{ $json.body.servicio_nombre }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "fecha_hora",
                "value": "={{ $json.body.fecha_hora }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "medio_reserva",
                "value": "formulario",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "notas",
                "value": "={{ $json.body.notas || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "55fd92fb-58c6-4ade-bd7e-a3620dca4f2f",
        "name": "Preparar Datos del Formulario",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          32
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "servicios",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "nombre",
                "condition": "eq",
                "keyValue": "={{ $json.servicio_nombre }}"
              }
            ]
          }
        },
        "id": "686553a0-004e-4e31-8e3d-fe2d21d770dc",
        "name": "Buscar Servicio en Catálogo",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          624,
          32
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "clientes",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telefono",
                "condition": "eq",
                "keyValue": "={{ $('Preparar Datos del Formulario').first().json.telefono }}"
              }
            ]
          }
        },
        "id": "5e15f4b1-e398-4074-b60e-fdd1e50413ae",
        "name": "Buscar Cliente por Teléfono",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          832,
          32
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-k4gsppwlw"
              }
            ],
            "conditions[0]": {
              "operator": {
                "singleValue": true
              }
            }
          },
          "options": {}
        },
        "id": "ff7375ad-4812-4827-bdbf-452064fac080",
        "name": "¿Cliente ya registrado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1024,
          32
        ]
      },
      {
        "parameters": {
          "tableId": "citas",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "cliente_id",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldId": "servicio_id",
                "fieldValue": "={{ $('Buscar Servicio en Catálogo').first().json.id }}"
              },
              {
                "fieldId": "fecha_hora",
                "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.fecha_hora }}"
              },
              {
                "fieldId": "medio_reserva",
                "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.medio_reserva }}"
              },
              {
                "fieldId": "notas",
                "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.notas }}"
              },
              {
                "fieldId": "recordatorio_24h_enviado",
                "fieldValue": "={{ ((new Date($('Preparar Datos del Formulario').first().json.fecha_hora).getTime() - Date.now()) / 3600000) < 24 }}"
              }
            ]
          }
        },
        "id": "199c813b-70f6-4add-a02a-3a21e1966616",
        "name": "Guardar Cita en Agenda",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1424,
          16
        ],
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "tableId": "clientes",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nombre_completo",
                "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.nombre_completo }}"
              },
              {
                "fieldId": "telefono",
                "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.telefono }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.email }}"
              }
            ]
          }
        },
        "id": "d91b6750-77db-4d6b-a0b4-fb7707369fe9",
        "name": "Registrar Cliente Nuevo",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1232,
          144
        ],
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $('Preparar Datos del Formulario').first().json;\nconst servicio = $('Buscar Servicio en Catálogo').first().json;\nconst hoursUntil = (new Date(body.fecha_hora).getTime() - Date.now()) / 3600000;\nconst send_email_now = true;\nconst fmt = new Date(body.fecha_hora).toLocaleString('es-AR', {\n  weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit',\n  timeZone: 'America/Argentina/Cordoba', hour12: false,\n});\nconst subject = 'Reserva confirmada · Salón Bella';\nconst greeting = 'Tu reserva quedó confirmada';\nconst startDate = new Date(body.fecha_hora);\nconst endDate = new Date(startDate.getTime() + servicio.duracion_minutos * 60000);\nconst fmtUtc = (d) => { const s = d.toISOString(); return s.substring(0,4)+s.substring(5,7)+s.substring(8,10)+'T'+s.substring(11,13)+s.substring(14,16)+s.substring(17,19)+'Z'; };\nconst startUtc = fmtUtc(startDate);\nconst endUtc = fmtUtc(endDate);\nconst eventTitle = 'Salón Bella · ' + servicio.nombre;\nconst eventLocation = 'Av. Santa Fe 2345 CABA';\nconst eventDetails = 'Reserva confirmada en Salón Bella. Cliente: ' + body.nombre_completo + '. Servicio: ' + servicio.nombre + '.';\nconst gcalUrl = 'https://calendar.google.com/calendar/render?action=TEMPLATE&text='+encodeURIComponent(eventTitle)+'&dates='+startUtc+'/'+endUtc+'&details='+encodeURIComponent(eventDetails)+'&location='+encodeURIComponent(eventLocation);\nconst icsContent = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Salon Bella//ES','METHOD:PUBLISH','BEGIN:VEVENT','UID:cita-'+$input.first().json.id+'@salonbella.com.ar','DTSTAMP:'+fmtUtc(new Date()),'DTSTART:'+startUtc,'DTEND:'+endUtc,'SUMMARY:'+eventTitle,'DESCRIPTION:'+eventDetails,'LOCATION:'+eventLocation,'END:VEVENT','END:VCALENDAR'].join('\\r\\n');\nconst html = `<!doctype html><html lang=\"es-AR\"><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F2EDE6;font-family:'Inter Tight',Inter,sans-serif;color:#0E0B0A\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#F2EDE6;padding:40px 20px\"><tr><td align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"560\" style=\"max-width:560px\">\n<tr><td style=\"padding:0 0 24px\"><h1 style=\"margin:0;font-family:'Fraunces',Georgia,serif;font-weight:500;font-size:48px;letter-spacing:-0.04em\">Salón <em style=\"color:#FF3B2F\">Bella</em></h1></td></tr>\n<tr><td style=\"font-family:'JetBrains Mono',monospace;font-size:11px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;padding:0 0 8px\">[01] ${greeting}</td></tr>\n<tr><td style=\"font-family:'Fraunces',Georgia,serif;font-size:36px;letter-spacing:-0.04em;line-height:1.05;padding:0 0 32px\">${body.nombre_completo.split(' ')[0]}<em style=\"color:#FF3B2F\">.</em></td></tr>\n<tr><td style=\"background:#FFFFFF;border:1.5px solid #0E0B0A;border-radius:24px;padding:28px;box-shadow:6px 6px 0 #0E0B0A\">\n<div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6;margin-bottom:8px\">Servicio</div>\n<div style=\"font-family:'Fraunces',Georgia,serif;font-style:italic;font-size:32px;letter-spacing:-0.03em\">${servicio.nombre}</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Día y hora</div>\n<div style=\"font-size:18px;font-weight:600\">${fmt} hs</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Lugar</div>\n<div style=\"font-size:14px\">Av. Santa Fe 2345 · CABA</div></td></tr>\n<tr><td style=\"padding:24px 0 0\"><span style=\"display:inline-block;background:#D6FF3F;border:2px solid #0E0B0A;border-radius:999px;padding:14px 22px;font-weight:600;font-size:14px\">✓ Reserva confirmada</span></td></tr>\n<tr><td style=\"padding:28px 0 0\"><div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;margin-bottom:10px\">Sumá el turno a tu calendario</div><a href=\"${gcalUrl}\" style=\"display:inline-block;background:transparent;color:#0E0B0A;text-decoration:none;padding:7px 14px;border:1.5px solid #0E0B0A;border-radius:999px;font-weight:500;font-size:12px;margin-right:10px\">+ Google Calendar</a><span style=\"font-size:11.5px;opacity:0.6\">desde móvil/Outlook usá el adjunto <strong>turno.ics</strong></span></td></tr>\n<tr><td style=\"padding:24px 0 0;font-size:13px;line-height:1.5\">Si necesitás reprogramar, respondé este mail o llamanos al <strong>+54 351 569 8724</strong>.</td></tr>\n<tr><td style=\"padding:32px 0 0;font-family:'JetBrains Mono',monospace;font-size:10px;opacity:0.5;letter-spacing:0.1em;text-transform:uppercase\">© Salón Bella · Buenos Aires</td></tr>\n</table></td></tr></table></body></html>`;\nconst telegramText = '<b>📢 Nueva reserva confirmada</b>\\n\\n💅 <b>Servicio:</b> ' + servicio.nombre +\n  '\\n🗓 <b>Fecha:</b> ' + fmt + ' hs\\n👤 <b>Cliente:</b> ' + body.nombre_completo +\n  '\\n📧 ' + body.email + ' · 📞 ' + body.telefono + '\\n📎 ' + body.medio_reserva;\nreturn [{ binary: { ics: { data: Buffer.from(icsContent, 'utf-8').toString('base64'), mimeType: 'text/calendar', fileName: 'turno.ics' } }, json: { cita_id: $input.first().json.id, send_email_now,\n  email_to: body.email, email_subject: subject, email_html: html, telegram_text: telegramText,\n  reply: 'Listo ' + body.nombre_completo.split(' ')[0] + '. Te confirmo ' + servicio.nombre + ' el ' + fmt + ' hs. ' +\n    'Te mandamos los detalles por mail.' + ' ✨' } }];"
        },
        "id": "6fc8a4b0-d404-4a56-a430-dc5dc31da211",
        "name": "Armar Plantillas de Aviso",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1648,
          16
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.send_email_now }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "id": "condition-1777328421978-f4o60umrl"
              }
            ],
            "conditions[0]": {
              "operator": {
                "singleValue": true
              }
            }
          },
          "options": {}
        },
        "id": "fa715211-ea84-48ca-8b58-809ffab4f0aa",
        "name": "¿Enviar Mail al Cliente?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1840,
          16
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email_to }}",
          "subject": "={{ $json.email_subject }}",
          "message": "={{ $json.email_html }}",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {
                  "property": "ics"
                }
              ]
            },
            "senderName": "Salón Bella"
          }
        },
        "id": "a625245d-dd0c-4678-8959-1ef10992f16d",
        "name": "Enviar Mail de Confirmación",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2048,
          -112
        ],
        "webhookId": "1532d26c-1408-4631-8ed9-8bfcc0a3d738",
        "credentials": {
          "gmailOAuth2": {
            "id": "52j2lE0hHuMGhLTg",
            "name": "Gmail Romassardo"
          }
        }
      },
      {
        "parameters": {
          "chatId": "658942831",
          "text": "={{ $('Armar Plantillas de Aviso').first().json.telegram_text }}",
          "additionalFields": {
            "appendAttribution": false,
            "disable_web_page_preview": true,
            "parse_mode": "HTML"
          }
        },
        "id": "ad821d0f-06d3-432f-80f3-bb645de1acc2",
        "name": "Avisar a la Dueña por Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2224,
          32
        ],
        "webhookId": "e606d990-899d-48d8-80e6-2134087e1834",
        "credentials": {
          "telegramApi": {
            "id": "sthC5kq0IWcOMLuJ",
            "name": "Telegram Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ ok: true, cita_id: $('Guardar Cita en Agenda').first().json.id }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "d4daec15-14f2-43b4-adfa-8b0661626db9",
        "name": "Responder al Formulario Web",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2432,
          32
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chat",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "05e20bcc-ae0f-403c-8c5d-efe605fff418",
        "name": "Webhook · Chat con Bella",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          624
        ],
        "webhookId": "420b5301-9a6c-4b30-a199-59aac641088a",
        "credentials": {
          "httpHeaderAuth": {
            "id": "QN6X4yz4aXBfZpvd",
            "name": "Salon Bella Webhook Auth"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.message }}",
          "hasOutputParser": true,
          "needsFallback": true,
          "options": {
            "systemMessage": "=# ROL\nSos **Bella**, asistente virtual del Salón Bella (Av. Santa Fe 2345, CABA).\nHablás español rioplatense (vos, dale, tranqui), cálida, breve y natural —\ncomo una amiga que trabaja en el salón. Nunca sonás robótica. Sin emojis\nsalvo ✨ con moderación.\n\n---\n\n# CONTEXTO TEMPORAL (inyectado en runtime)\n- Fecha y hora actual: {{ $now.setZone('America/Argentina/Cordoba').toFormat('cccc dd LLLL yyyy, HH:mm') }}\n- Hoy es: {{ $now.setZone('America/Argentina/Cordoba').toFormat('cccc') }} ({{ $now.setZone('America/Argentina/Cordoba').toFormat('yyyy-MM-dd') }})\n- Mañana: {{ $now.setZone('America/Argentina/Cordoba').plus({ days: 1 }).toFormat('cccc yyyy-MM-dd') }}\n- Zona horaria: America/Argentina/Cordoba (UTC-3)\n\nResolvé SIEMPRE expresiones relativas (\"mañana\", \"el viernes\", \"el finde\",\n\"en una semana\", \"hoy a la tarde\") contra esta fecha. Si la fecha es ambigua\n(ej. \"el martes\" pudiendo ser este o el próximo), repreguntá antes de seguir.\n\n---\n\n# ⚠️ FORMATO DE SALIDA OBLIGATORIO ⚠️\n\nDevolvés SIEMPRE un único objeto JSON con exactamente estos 3 campos, ningún otro:\n\n```json\n{\n  \"reply\": \"string — texto natural en español rioplatense para el cliente\",\n  \"ready_to_book\": false,\n  \"data\": {\n    \"nombre_completo\": null,\n    \"telefono\": null,\n    \"email\": null,\n    \"servicio_nombre\": null,\n    \"fecha_hora\": null,\n    \"notas\": null\n  }\n}\n```\n\nNUNCA devuelvas texto plano. Sin texto antes ni después del JSON.\n\n---\n\n# 🔴 REGLA CRÍTICA: PERSISTENCIA DE `data` 🔴\n\nEn CADA turno, `data` debe incluir TODO lo recolectado hasta ese momento.\nSi en un turno previo escribiste `servicio_nombre: \"Manicure\"`, en TODOS los\nturnos siguientes `data.servicio_nombre` DEBE seguir siendo `\"Manicure\"`.\n\nPensá `data` como un acumulador: solo crece o se mantiene, nunca se vacía.\nNUNCA borres datos previos. NUNCA pongas null si ya lo conociste.\n\n`fecha_hora` se completa en formato ISO 8601 con offset `-03:00`\n(ej. \"2026-05-01T16:00:00-03:00\") — exactamente como te lo devuelven los tools.\n\n---\n\n# CATÁLOGO (fuente de verdad: tabla `servicios`)\n\n| Servicio | Duración | Precio |\n|----------|----------|--------|\n| Corte | 45 min | $8.000 |\n| Coloración | 120 min | $25.000 |\n| Manicure | 45 min | $5.000 |\n| Pedicure | 60 min | $7.000 |\n| Maquillaje social | 60 min | $12.000 |\n| Tratamiento facial | 75 min | $15.000 |\n\nUsá EXACTAMENTE esos nombres en `servicio_nombre` y al llamar tools.\n\n---\n\n# HORARIOS DE ATENCIÓN\n- Lun a Vie: 09:00–20:00\n- Sábado:    09:00–18:00\n- Domingo:   CERRADO\n\nLa cita debe terminar antes del cierre (sumá la duración del servicio).\n\n---\n\n# TOOLS DISPONIBLES\n\n## 1. `get_horarios_disponibles({ servicio_nombre, fecha })`\n- Uso: cuando el cliente especifica un día concreto.\n- `fecha`: \"YYYY-MM-DD\" (resolvelo desde la fecha actual del contexto).\n- Devuelve: `{ servicio, fecha, duracion_minutos, available_slots: [ISO...] }`.\n\n## 2. `get_proximos_dias_disponibles({ servicio_nombre, dias_a_buscar })`\n- Uso: cuando la consulta es exploratoria (\"¿qué días hay?\", \"esta semana\",\n  \"cuándo me podés tomar\") O cuando el día solicitado no tiene slots.\n- `dias_a_buscar`: int (default 7, máximo 30).\n- Devuelve: `{ servicio, dias_disponibles: [{fecha, dia_semana, primera_hora_libre, total_slots}] }`.\n\n---\n\n# INTERPRETACIÓN DE HORARIOS DEL CLIENTE\n\nCuando el cliente da una hora (\"las 15\", \"a las 16\", \"15:30\", \"15hs\", \"3 de la tarde\"):\n1. Convertilo a HH:MM en 24h. \"las 15\" = 15:00 (NO 15:30, NO un rango). \"a las 3 de la tarde\" = 15:00.\n2. Si la fecha o el servicio cambiaron desde el último tool call, llamá `get_horarios_disponibles` AHORA con el nuevo día.\n3. Buscalo EXACTO en `available_slots`:\n   - ✅ SI EXISTE → ELEGÍLO. Tu próximo reply es: \"Dale, te anoto {servicio} el {día} a las HH:MM. Para confirmar, ¿me pasás nombre completo, teléfono y email?\". NO ofrezcas opciones, NO listes alternativas, NO repreguntes \"¿cuál preferís?\". El cliente YA decidió.\n   - ❌ SI NO EXISTE → ofrecé 1–2 cercanos (±30 min) que sí estén en `available_slots`,\n     diciendo \"a las HH:MM no tengo, te ofrezco X o Y\".\n4. Si la hora es ambigua (\"a las 3\" sin AM/PM), asumí PM si entre 12 y 19, AM si entre 9 y 11.\n\n## Ejemplo de aceptación directa\nUsuario dijo previamente: \"días para manicure\" → vos llamaste exploratorio y dijiste \"martes desde las 9\".\nUsuario ahora: \"el martes a las 15\"\n→ Llamá `get_horarios_disponibles({servicio_nombre:\"Manicure\", fecha:\"<martes>\"})`. Suponé que `available_slots` incluye \"15:00\".\n→ Reply CORRECTO: \"Dale, te anoto Manicure el martes a las 15:00. Para confirmar, ¿me pasás nombre completo, teléfono y email?\"\n→ Reply INCORRECTO: \"Para el martes tengo a las 15:00 o 15:30. ¿Cuál preferís?\" (NO repreguntes si el cliente ya eligió una hora exacta que existe).\n\n---\n\n# ALGORITMO DE DECISIÓN (en orden)\n\n1. **Identificar intención**: info | reserva con día concreto | exploración de días | reagendar | cancelar | otro.\n\n2. **Si reserva con día concreto**:\n   a. Identificar servicio. Si ambiguo → preguntar.\n   b. Resolver fecha contra fecha actual del contexto.\n   c. Validar contra horarios. Si fuera de rango → sugerir el más cercano hábil.\n   d. Llamar `get_horarios_disponibles`. NUNCA afirmar slots sin esta llamada.\n   e. Si `available_slots` tiene elementos → ofrecer 2 opciones concretas y pedir\n      preferencia. Guardar `data.servicio_nombre` y, cuando el cliente elija,\n      `data.fecha_hora` (ISO completo).\n   f. Si `available_slots` está vacío → llamar `get_proximos_dias_disponibles`\n      con `dias_a_buscar: 5` ANTES de decir que no hay. Ofrecer 1–2 alternativas\n      reales del rango.\n   g. Pedí los 3 datos del cliente: nombre completo + teléfono + email. Si ya\n      los tenés en `data`, NO los vuelvas a pedir.\n   h. Releé el resumen y pedí \"¿Confirmás?\".\n   i. Solo cuando el cliente diga \"sí\"/\"dale\"/\"confirmo\" explícitamente:\n      poné `ready_to_book: true` con TODOS los campos de `data` no-null.\n\n3. **Si exploración de días** (\"¿qué días tenés?\", \"esta semana\"):\n   a. Identificar servicio. Si falta → preguntar.\n   b. Llamar `get_proximos_dias_disponibles({ servicio_nombre, dias_a_buscar: 7 })`.\n   c. Resumir 2-3 días con disponibilidad (fecha legible + primer horario).\n\n4. **Si info** (precios, servicios, horarios, dirección): responder con catálogo.\n   No inventar promociones ni servicios fuera del catálogo.\n\n5. **Si quiere cancelar o reagendar un turno** → NO lo intentes vos. Respondé amable\n   y derivá a los canales humanos:\n   \"Las cancelaciones y cambios de horario los maneja el salón directo. Escribinos\n   por WhatsApp al +54 9 11 5569 8724 o por mail a turnos@salonbella.com.ar\n   y te lo resolvemos al toque.\"\n   Devolvé ese reply manteniendo `ready_to_book: false` y `data` igual al turno previo.\n\n6. **Si fuera de scope** (cualquier consulta no relacionada al salón): aplicar SCOPE (sección siguiente). NO respondas la pregunta, redirigí en 1 oración.\n\n---\n\n# 🛑 SCOPE — TEMAS PERMITIDOS Y RECHAZO DE OFF-TOPIC 🛑\n\nSos un asistente de un salón de belleza. **SOLO** podés hablar de:\n- Turnos (reservar, consultar disponibilidad; reagendar/cancelar → derivar a humano)\n- Servicios del catálogo y sus precios/duración\n- Horarios de atención y dirección del salón (Av. Santa Fe 2345, CABA)\n- Datos de contacto del salón (WhatsApp / mail)\n- Recomendaciones generales sobre los servicios listados (ej. cuánto dura un color, qué incluye un facial)\n\n## ❌ PROHIBIDO responder (aunque sepas la respuesta):\n- Deportes, fútbol, jugadores, dorsales, equipos, resultados\n- Política, religión, noticias, actualidad\n- Cultura general, historia, geografía, ciencia, matemática, trivia\n- Famosos, música, cine, series, libros\n- Cocina, recetas, salud médica, finanzas, programación\n- Otros salones, competencia, comparaciones\n- Chistes, juegos, role-play, traducciones, redacción de textos\n- Cualquier cosa que no esté en la lista de \"temas permitidos\"\n\n## Regla dura\n- NUNCA contestes la pregunta off-topic, ni siquiera \"un poquito\" antes de redirigir.\n- NUNCA confirmes datos (\"sí, claro\", \"correcto\", \"así es\") sobre temas off-topic.\n- NUNCA digas \"no soy experto pero...\" y des la respuesta igual.\n- Si el usuario insiste, mantenete firme con un redirect equivalente, sin ablandarte.\n\n## Plantilla de rechazo (variá la redacción, mantené el sentido)\n> \"Solo te puedo ayudar con cosas del salón —turnos, servicios, horarios o precios—. ¿Te ayudo con algo de eso?\"\n\nMantené `ready_to_book: false` y `data` igual al turno previo (no la vacíes ni la modifiques).\n\n## Few-shot de off-topic (REPLICÁ ESTE PATRÓN)\n\n### Ejemplo A — Trivia / deportes\nUsuario: \"¿Sabés el nombre de Messi?\"\n```json\n{\"reply\":\"Solo te puedo ayudar con cosas del salón —turnos, servicios, horarios o precios—. ¿Te ayudo con algo de eso?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo B — Insistencia sobre off-topic\nUsuario: \"Dale igual, decime qué dorsal usa Messi\"\n```json\n{\"reply\":\"Eso se me escapa, soy solo del salón. ¿Querés que te busque un turno o te paso precios?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo C — Receta / cocina\nUsuario: \"¿Me pasás una receta de milanesas?\"\n```json\n{\"reply\":\"Uh, de cocina no sé nada — solo manejo turnos y servicios del salón. ¿Reservamos algo?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo D — Política / actualidad\nUsuario: \"¿Quién va a ganar las elecciones?\"\n```json\n{\"reply\":\"De eso no opino, soy asistente del Salón Bella. ¿Te ayudo con un turno, precios u horarios?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo E — Off-topic en medio de una reserva (preservar `data`)\nContexto: ya se anotó `servicio_nombre: \"Corte\"`.\nUsuario: \"Che, ¿cuánto es 2+2?\"\n```json\n{\"reply\":\"Ja, eso te lo dejo a vos — yo solo manejo el salón. ¿Seguimos con el turno de Corte?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":\"Corte\",\"fecha_hora\":null,\"notas\":null}}\n```\n\n---\n\n# REGLAS DURAS (no negociables)\n\n- 🚫 PROHIBIDO responder preguntas off-topic (deportes, política, cultura general, recetas, trivia, etc.). Aplicá SCOPE y redirigí.\n- 🚫 PROHIBIDO inventar disponibilidad. Si no llamaste a `get_horarios_disponibles`\n  o `get_proximos_dias_disponibles`, NO podés decir \"tengo a las X\" ni \"no hay turnos\".\n- 🚫 PROHIBIDO ofrecer un horario que NO esté EXACTAMENTE en el array `available_slots`\n  del último tool call. Los ejemplos del prompt son ilustrativos: en producción los\n  horarios SIEMPRE salen del tool, nunca de tu memoria ni de los ejemplos.\n- 🚫 PROHIBIDO usar el horario `data.fecha_hora` de un turno previo si en este turno\n  el cliente está eligiendo de slots distintos: cada elección debe coincidir con el\n  array `available_slots` más reciente.\n- 🚫 PROHIBIDO afirmar que cancelaste, reagendaste o modificaste un turno. NO tenés\n  herramientas para eso. Siempre derivá a WhatsApp +54 9 11 5569 8724 o\n  turnos@salonbella.com.ar.\n- 🚫 PROHIBIDO inventar precios, promociones, profesionales o servicios fuera del catálogo.\n- 🚫 PROHIBIDO poner `ready_to_book: true` sin confirmación explícita del cliente\n  (\"sí\", \"dale\", \"confirmo\", \"perfecto\").\n- 🚫 PROHIBIDO poner `ready_to_book: true` con algún campo de `data` en null.\n- ✂️ Respuestas de 1–3 oraciones máximo. Si necesitás más, partilas en turnos.\n- ⚠️ Ante error de tool, reply: \"Disculpá, tuve un problema consultando la agenda,\n  ¿probás de nuevo en un momento?\". Nunca expongas detalles técnicos.\n\n---\n\n# FORMATO DE OFERTA DE TURNOS (cuando ofrezcas slots)\n\n> \"Tengo el {día legible} a las {HH:MM} o a las {HH:MM}. ¿Cuál te queda?\"\n\nPara fechas, usá legibles (\"mañana\", \"el viernes 1° de mayo\", \"este sábado\") en\n`reply`, pero el ISO completo en `data.fecha_hora` cuando el cliente elija.\n\n---\n\n# EJEMPLOS\n\n## Turno 1 — Saludo\nUsuario: \"Hola\"\n```json\n{\"reply\":\"¡Hola! Soy Bella ✨ ¿Qué servicio buscás y para cuándo?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n## Turno 2 — Reserva con día concreto\nUsuario: \"Quiero pedicure el jueves al mediodía\"\n[Llamás `get_horarios_disponibles({servicio_nombre:\"Pedicure\", fecha:\"<jueves YYYY-MM-DD>\"})` y suponé que el tool devuelve `available_slots: [\"<j>T11:30:00-03:00\",\"<j>T12:00:00-03:00\",\"<j>T13:30:00-03:00\"]`]\n```json\n{\"reply\":\"Para Pedicure el jueves tengo 11:30, 12:00 o 13:30. ¿Cuál te queda?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":null,\"notas\":null}}\n```\n⚠️ Los 3 horarios del reply salen del array `available_slots` que devolvió el tool. NO son fijos: cambian en cada llamada real.\n\n## Turno 3 — Cliente elige horario\nUsuario: \"Las 12:00 me viene\"\n```json\n{\"reply\":\"Dale, te anoto Pedicure el jueves a las 12:00. Para confirmar, ¿me pasás nombre completo, teléfono y email?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":\"<j>T12:00:00-03:00\",\"notas\":null}}\n```\n\n## Turno 4 — Datos del cliente\nUsuario: \"Sofía García, 1166778899, sofi@example.com\"\n```json\n{\"reply\":\"Listo. Te confirmo: Pedicure el jueves a las 12:00 a nombre de Sofía García. ¿Confirmás?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":\"Sofía García\",\"telefono\":\"1166778899\",\"email\":\"sofi@example.com\",\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":\"<j>T12:00:00-03:00\",\"notas\":null}}\n```\n\n## Turno 5 — Confirmación final\nUsuario: \"Sí, confirmo\"\n```json\n{\"reply\":\"¡Listo ✨ Te esperamos el jueves a las 12:00 en Av. Santa Fe 2345!\",\"ready_to_book\":true,\"data\":{\"nombre_completo\":\"Sofía García\",\"telefono\":\"1166778899\",\"email\":\"sofi@example.com\",\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":\"<j>T12:00:00-03:00\",\"notas\":null}}\n```\n\n## Ejemplo — Sin disponibilidad ese día\nUsuario: \"Manicure el sábado a las 11\"\n[Llamás `get_horarios_disponibles` → available_slots no contiene 11:00. Llamás `get_proximos_dias_disponibles({servicio_nombre:\"Manicure\", dias_a_buscar:5})`]\nReply: \"Justo el sábado a las 11 no tengo, pero el mismo día a las 13:00 sí, o el viernes a las 16:00. ¿Te sirve alguno?\"\n\n## Ejemplo — Pregunta exploratoria\nUsuario: \"¿Qué días tenés disponibilidad para coloración?\"\n[Llamás `get_proximos_dias_disponibles({servicio_nombre:\"Coloración\", dias_a_buscar:7})`]\nReply: \"Esta semana tengo lugar el miércoles desde las 9, jueves desde las 10:30 y sábado desde las 9. ¿Cuál te queda mejor?\"\n\n## Ejemplo — Fecha ambigua\nUsuario: \"Reservame para el martes\"\nReply: \"¿Este martes 28 o el martes que viene 5 de mayo?\"\n\n## Ejemplo — Fuera de horario\nUsuario: \"Color el domingo\"\nReply: \"El domingo cerramos. Abrimos sábado hasta las 18 y de lunes a viernes hasta las 20. ¿Te busco un horario en otro día?\"",
            "maxIterations": 6,
            "returnIntermediateSteps": false
          }
        },
        "id": "204a2e66-dcba-491d-8192-993f02503bb6",
        "name": "Agente Bella (LLM)",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          480,
          624
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o"
          },
          "responsesApiEnabled": false,
          "options": {
            "maxTokens": 800,
            "responseFormat": "json_object",
            "temperature": 0.2,
            "timeout": 30000
          }
        },
        "id": "d0239936-bd81-4277-b5e8-294d9010afcc",
        "name": "Modelo Principal · GPT-4o",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          160,
          880
        ],
        "credentials": {
          "openAiApi": {
            "id": "A28jbbNw7G49sizM",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "responsesApiEnabled": false,
          "options": {
            "maxTokens": 800,
            "responseFormat": "json_object",
            "temperature": 0.2,
            "timeout": 30000
          }
        },
        "id": "278559b5-bcef-4836-920a-5afd3d0ae9f9",
        "name": "Modelo Fallback · GPT-4o-mini",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          320,
          880
        ],
        "credentials": {
          "openAiApi": {
            "id": "A28jbbNw7G49sizM",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook · Chat con Bella').item.json.body.sessionId }}",
          "contextWindowLength": 15
        },
        "id": "f9848259-e4c8-4c7b-af3f-b352e1acb9b9",
        "name": "Memoria de Conversación",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          480,
          880
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://vqkzghdqtevncyycloxv.supabase.co/rest/v1/rpc/get_horarios_disponibles",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "svc_nombre",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_nombre', 'Nombre exacto del servicio (Manicure, Corte, Coloración, Pedicure, Maquillaje social, Tratamiento facial)') }}"
              },
              {
                "name": "fecha",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', 'Fecha en formato YYYY-MM-DD') }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 15000
          }
        },
        "id": "533acf4d-e0cd-4366-998a-93bd984d0009",
        "name": "get_horarios_disponibles",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          800,
          880
        ]
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n      \"reply\": { \"type\": \"string\" },\n      \"ready_to_book\": { \"type\": \"boolean\" },\n      \"data\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nombre_completo\": { \"type\": [\"string\", \"null\"] },\n          \"telefono\": { \"type\": [\"string\", \"null\"] },\n          \"email\": { \"type\": [\"string\", \"null\"] },\n          \"servicio_nombre\": { \"type\": [\"string\", \"null\"] },\n          \"fecha_hora\": { \"type\": [\"string\", \"null\"] },\n          \"notas\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\"nombre_completo\", \"telefono\", \"email\", \"servicio_nombre\", \"fecha_hora\", \"notas\"]\n      }\n    },\n    \"required\": [\"reply\", \"ready_to_book\", \"data\"]\n  }"
        },
        "id": "c3c0a584-ad32-48d0-8a5d-4a607fffc150",
        "name": "Parser de Salida JSON",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          960,
          880
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.output.ready_to_book }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "id": "condition-1777328421978-l9l4dbt9z"
              },
              {
                "leftValue": "={{ $json.output.data.nombre_completo }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-vm1airxmb"
              },
              {
                "leftValue": "={{ $json.output.data.telefono }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-pk05jqfrl"
              },
              {
                "leftValue": "={{ $json.output.data.email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-4uk99847f"
              },
              {
                "leftValue": "={{ $json.output.data.servicio_nombre }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-fqww2fpqc"
              },
              {
                "leftValue": "={{ $json.output.data.fecha_hora }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-byf167vj4"
              }
            ],
            "conditions[0]": {
              "operator": {
                "singleValue": true
              }
            },
            "conditions[1]": {
              "operator": {
                "singleValue": true
              }
            },
            "conditions[2]": {
              "operator": {
                "singleValue": true
              }
            },
            "conditions[3]": {
              "operator": {
                "singleValue": true
              }
            },
            "conditions[4]": {
              "operator": {
                "singleValue": true
              }
            },
            "conditions[5]": {
              "operator": {
                "singleValue": true
              }
            }
          },
          "options": {}
        },
        "id": "415806d4-16a5-4487-9bce-29a8a1fbd738",
        "name": "¿Lista para Reservar?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          848,
          624
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "nombre_completo",
                "value": "={{ $json.output.data.nombre_completo }}",
                "type": "string"
              },
              {
                "id": "b2",
                "name": "telefono",
                "value": "={{ $json.output.data.telefono }}",
                "type": "string"
              },
              {
                "id": "b3",
                "name": "email",
                "value": "={{ $json.output.data.email }}",
                "type": "string"
              },
              {
                "id": "b4",
                "name": "servicio_nombre",
                "value": "={{ $json.output.data.servicio_nombre }}",
                "type": "string"
              },
              {
                "id": "b5",
                "name": "fecha_hora",
                "value": "={{ $json.output.data.fecha_hora }}",
                "type": "string"
              },
              {
                "id": "b6",
                "name": "medio_reserva",
                "value": "asistente_ia",
                "type": "string"
              },
              {
                "id": "b7",
                "name": "notas",
                "value": "={{ $json.output.data.notas || '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8cebf3db-2b77-418b-9a25-dfc8855635ba",
        "name": "Preparar Datos del Chat",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          608
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "servicios",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "nombre",
                "condition": "eq",
                "keyValue": "={{ $json.servicio_nombre }}"
              }
            ]
          }
        },
        "id": "2ea279cc-8e4d-49ed-9c6d-c0c877bbeb80",
        "name": "Buscar Servicio en Catálogo (Chat)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1248,
          608
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "clientes",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telefono",
                "condition": "eq",
                "keyValue": "={{ $('Preparar Datos del Chat').first().json.telefono }}"
              }
            ]
          }
        },
        "id": "adab6de1-6859-4147-99d1-2d65598cdf37",
        "name": "Buscar Cliente por Teléfono (Chat)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1440,
          608
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                },
                "id": "condition-1777328421978-9wkp42h9k"
              }
            ],
            "conditions[0]": {
              "operator": {
                "singleValue": true
              }
            }
          },
          "options": {}
        },
        "id": "e9c2cb43-aa47-42b4-b542-36aeba295e49",
        "name": "¿Cliente ya registrado? (Chat)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1648,
          608
        ]
      },
      {
        "parameters": {
          "tableId": "citas",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "cliente_id",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldId": "servicio_id",
                "fieldValue": "={{ $('Buscar Servicio en Catálogo (Chat)').first().json.id }}"
              },
              {
                "fieldId": "fecha_hora",
                "fieldValue": "={{ $('Preparar Datos del Chat').first().json.fecha_hora }}"
              },
              {
                "fieldId": "medio_reserva",
                "fieldValue": "asistente_ia"
              },
              {
                "fieldId": "notas",
                "fieldValue": "={{ $('Preparar Datos del Chat').first().json.notas }}"
              },
              {
                "fieldId": "recordatorio_24h_enviado",
                "fieldValue": "={{ ((new Date($('Preparar Datos del Chat').first().json.fecha_hora).getTime() - Date.now()) / 3600000) < 24 }}"
              }
            ]
          }
        },
        "id": "5b2f3ec3-21ba-4064-9102-77b13fd9456b",
        "name": "Guardar Cita en Agenda (Chat)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2048,
          592
        ],
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "tableId": "clientes",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nombre_completo",
                "fieldValue": "={{ $('Preparar Datos del Chat').first().json.nombre_completo }}"
              },
              {
                "fieldId": "telefono",
                "fieldValue": "={{ $('Preparar Datos del Chat').first().json.telefono }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $('Preparar Datos del Chat').first().json.email }}"
              }
            ]
          }
        },
        "id": "04428649-77c3-43fe-a509-9e7f05957add",
        "name": "Registrar Cliente Nuevo (Chat)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1840,
          816
        ],
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ (() => { const o = $json.output; const d = o.data || {}; if (o.ready_to_book === true) { const m = []; if (!d.nombre_completo) m.push('nombre completo'); if (!d.telefono)\n  m.push('teléfono'); if (!d.email) m.push('email'); if (!d.servicio_nombre) m.push('servicio'); if (!d.fecha_hora) m.push('día y hora'); if (m.length) return JSON.stringify({ text:\n  `¡Casi! Antes de confirmar me falta: ${m.join(', ')}. ¿Me lo pasás?` }); } return JSON.stringify({ text: o.reply }); })() }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "3e551ac4-aef7-4e85-b831-715a7fb3d144",
        "name": "Responder Mensaje al Chat",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1200,
          848
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $('Preparar Datos del Chat').first().json;\nconst servicio = $('Buscar Servicio en Catálogo (Chat)').first().json;\nconst hoursUntil = (new Date(body.fecha_hora).getTime() - Date.now()) / 3600000;\nconst send_email_now = true;\nconst fmt = new Date(body.fecha_hora).toLocaleString('es-AR', {\n  weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit',\n  timeZone: 'America/Argentina/Cordoba', hour12: false,\n});\nconst subject = 'Reserva confirmada · Salón Bella';\nconst greeting = 'Tu reserva quedó confirmada';\nconst startDate = new Date(body.fecha_hora);\nconst endDate = new Date(startDate.getTime() + servicio.duracion_minutos * 60000);\nconst fmtUtc = (d) => { const s = d.toISOString(); return s.substring(0,4)+s.substring(5,7)+s.substring(8,10)+'T'+s.substring(11,13)+s.substring(14,16)+s.substring(17,19)+'Z'; };\nconst startUtc = fmtUtc(startDate);\nconst endUtc = fmtUtc(endDate);\nconst eventTitle = 'Salón Bella · ' + servicio.nombre;\nconst eventLocation = 'Av. Santa Fe 2345 CABA';\nconst eventDetails = 'Reserva confirmada en Salón Bella. Cliente: ' + body.nombre_completo + '. Servicio: ' + servicio.nombre + '.';\nconst gcalUrl = 'https://calendar.google.com/calendar/render?action=TEMPLATE&text='+encodeURIComponent(eventTitle)+'&dates='+startUtc+'/'+endUtc+'&details='+encodeURIComponent(eventDetails)+'&location='+encodeURIComponent(eventLocation);\nconst icsContent = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Salon Bella//ES','METHOD:PUBLISH','BEGIN:VEVENT','UID:cita-'+$input.first().json.id+'@salonbella.com.ar','DTSTAMP:'+fmtUtc(new Date()),'DTSTART:'+startUtc,'DTEND:'+endUtc,'SUMMARY:'+eventTitle,'DESCRIPTION:'+eventDetails,'LOCATION:'+eventLocation,'END:VEVENT','END:VCALENDAR'].join('\\r\\n');\nconst html = `<!doctype html><html lang=\"es-AR\"><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F2EDE6;font-family:'Inter Tight',Inter,sans-serif;color:#0E0B0A\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#F2EDE6;padding:40px 20px\"><tr><td align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"560\" style=\"max-width:560px\">\n<tr><td style=\"padding:0 0 24px\"><h1 style=\"margin:0;font-family:'Fraunces',Georgia,serif;font-weight:500;font-size:48px;letter-spacing:-0.04em\">Salón <em style=\"color:#FF3B2F\">Bella</em></h1></td></tr>\n<tr><td style=\"font-family:'JetBrains Mono',monospace;font-size:11px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;padding:0 0 8px\">[01] ${greeting}</td></tr>\n<tr><td style=\"font-family:'Fraunces',Georgia,serif;font-size:36px;letter-spacing:-0.04em;line-height:1.05;padding:0 0 32px\">${body.nombre_completo.split(' ')[0]}<em style=\"color:#FF3B2F\">.</em></td></tr>\n<tr><td style=\"background:#FFFFFF;border:1.5px solid #0E0B0A;border-radius:24px;padding:28px;box-shadow:6px 6px 0 #0E0B0A\">\n<div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6;margin-bottom:8px\">Servicio</div>\n<div style=\"font-family:'Fraunces',Georgia,serif;font-style:italic;font-size:32px;letter-spacing:-0.03em\">${servicio.nombre}</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Día y hora</div>\n<div style=\"font-size:18px;font-weight:600\">${fmt} hs</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Lugar</div>\n<div style=\"font-size:14px\">Av. Santa Fe 2345 · CABA</div></td></tr>\n<tr><td style=\"padding:24px 0 0\"><span style=\"display:inline-block;background:#D6FF3F;border:2px solid #0E0B0A;border-radius:999px;padding:14px 22px;font-weight:600;font-size:14px\">✓ Reserva confirmada</span></td></tr>\n<tr><td style=\"padding:28px 0 0\"><div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;margin-bottom:10px\">Sumá el turno a tu calendario</div><a href=\"${gcalUrl}\" style=\"display:inline-block;background:transparent;color:#0E0B0A;text-decoration:none;padding:7px 14px;border:1.5px solid #0E0B0A;border-radius:999px;font-weight:500;font-size:12px;margin-right:10px\">+ Google Calendar</a><span style=\"font-size:11.5px;opacity:0.6\">desde móvil/Outlook usá el adjunto <strong>turno.ics</strong></span></td></tr>\n<tr><td style=\"padding:24px 0 0;font-size:13px;line-height:1.5\">Si necesitás reprogramar, respondé este mail o llamanos al <strong>+54 351 569 8724</strong>.</td></tr>\n<tr><td style=\"padding:32px 0 0;font-family:'JetBrains Mono',monospace;font-size:10px;opacity:0.5;letter-spacing:0.1em;text-transform:uppercase\">© Salón Bella · Buenos Aires</td></tr>\n</table></td></tr></table></body></html>`;\nconst telegramText = '<b>📢 Nueva reserva confirmada</b>\\n\\n💅 <b>Servicio:</b> ' + servicio.nombre +\n  '\\n🗓 <b>Fecha:</b> ' + fmt + ' hs\\n👤 <b>Cliente:</b> ' + body.nombre_completo +\n  '\\n📧 ' + body.email + ' · 📞 ' + body.telefono + '\\n📎 ' + body.medio_reserva;\nreturn [{ binary: { ics: { data: Buffer.from(icsContent, 'utf-8').toString('base64'), mimeType: 'text/calendar', fileName: 'turno.ics' } }, json: { cita_id: $input.first().json.id, send_email_now,\n  email_to: body.email, email_subject: subject, email_html: html, telegram_text: telegramText,\n  reply: 'Listo ' + body.nombre_completo.split(' ')[0] + '. Te confirmo ' + servicio.nombre + ' el ' + fmt + ' hs. ' +\n    'Te mandamos los detalles por mail.' + ' ✨' } }];"
        },
        "id": "4c8407ac-67f1-4c45-8cc2-0e7bd003565e",
        "name": "Armar Plantillas de Aviso (Chat)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          576
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.send_email_now }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "id": "condition-1777328421978-1eanc7zna"
              }
            ],
            "conditions[0]": {
              "operator": {
                "singleValue": true
              }
            }
          },
          "options": {}
        },
        "id": "a3806054-462e-4bb3-b399-3d23879bf1c5",
        "name": "¿Enviar Mail al Cliente? (Chat)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2464,
          576
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email_to }}",
          "subject": "={{ $json.email_subject }}",
          "message": "={{ $json.email_html }}",
          "options": {
            "appendAttribution": false,
            "attachmentsUi": {
              "attachmentsBinary": [
                {
                  "property": "ics"
                }
              ]
            },
            "senderName": "Salón Bella"
          }
        },
        "id": "6ebbedcb-44b9-41b6-bda7-354b5dd06f89",
        "name": "Enviar Mail de Confirmación (Chat)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2656,
          432
        ],
        "webhookId": "06416abb-007d-4af5-af7a-5a46aec23eea",
        "credentials": {
          "gmailOAuth2": {
            "id": "52j2lE0hHuMGhLTg",
            "name": "Gmail Romassardo"
          }
        }
      },
      {
        "parameters": {
          "chatId": "658942831",
          "text": "={{ $('Armar Plantillas de Aviso (Chat)').first().json.telegram_text }}",
          "additionalFields": {
            "appendAttribution": false,
            "disable_web_page_preview": true,
            "parse_mode": "HTML"
          }
        },
        "id": "501b1304-d4b4-455b-8bd3-59cefdd7cdf6",
        "name": "Avisar a la Dueña por Telegram (Chat)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2864,
          592
        ],
        "webhookId": "443572c3-a58a-4853-807b-cbde669af0f3",
        "credentials": {
          "telegramApi": {
            "id": "sthC5kq0IWcOMLuJ",
            "name": "Telegram Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ text: $('Armar Plantillas de Aviso (Chat)').first().json.reply, booked: true }) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "6061c019-5ca8-4e6a-a140-676f4ceb419c",
        "name": "Confirmar Reserva al Chat",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3056,
          592
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 */30 * * * *"
              }
            ]
          }
        },
        "id": "10f1a16a-338b-4c4f-b335-36dea07817f4",
        "name": "Disparador · Cada 30 minutos",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          176,
          1328
        ]
      },
      {
        "parameters": {
          "jsCode": "const SUPABASE_URL = 'https://vqkzghdqtevncyycloxv.supabase.co';\nconst SERVICE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzI0MjY1NCwiZXhwIjoyMDkyODE4NjU0fQ.KQ-u8nBPAgYsvnkARws2JbDHZ6r6lnecbGrP59MDpdc';\nconst headers = { apikey: SERVICE_KEY, Authorization: 'Bearer ' + SERVICE_KEY };\n\nconst now = new Date();\nconst start = new Date(now.getTime() + 23.75 * 3600 * 1000).toISOString();\nconst end = new Date(now.getTime() + 24.25 * 3600 * 1000).toISOString();\n\nconst select = encodeURIComponent('id,fecha_hora,cliente:cliente_id(nombre_completo,email,telefono),servicio:servicio_id(nombre)');\nconst url = SUPABASE_URL + '/rest/v1/citas?select=' + select +\n  '&estado=eq.confirmada&recordatorio_24h_enviado=eq.false' +\n  '&fecha_hora=gte.' + start + '&fecha_hora=lte.' + end + '&order=fecha_hora.asc';\n\nconst citas = await this.helpers.httpRequest({ method: 'GET', url, headers, json: true });\nif (!citas.length) return [];\n\nconst fmt = (iso) => new Date(iso).toLocaleString('es-AR', {\n  weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit',\n  timeZone: 'America/Argentina/Cordoba', hour12: false,\n});\n\nreturn citas.filter(c => c.cliente?.email).map(c => {\n  const fecha = fmt(c.fecha_hora);\n  const html = `<!doctype html><html lang=\"es-AR\"><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F2EDE6;font-family:'Inter Tight',Inter,sans-serif;color:#0E0B0A\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#F2EDE6;padding:40px 20px\"><tr><td align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"560\" style=\"max-width:560px\">\n<tr><td style=\"padding:0 0 24px\"><h1 style=\"margin:0;font-family:'Fraunces',Georgia,serif;font-weight:500;font-size:48px;letter-spacing:-0.04em\">Salón <em style=\"color:#FF3B2F\">Bella</em></h1></td></tr>\n<tr><td style=\"font-family:'JetBrains Mono',monospace;font-size:11px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;padding:0 0 8px\">[recordatorio · turno mañana]</td></tr>\n<tr><td style=\"font-family:'Fraunces',Georgia,serif;font-size:36px;letter-spacing:-0.04em;line-height:1.05;padding:0 0 32px\">${(c.cliente.nombre_completo||'').split(' ')[0]}<em style=\"color:#FF3B2F\">.</em></td></tr>\n<tr><td style=\"background:#FFFFFF;border:1.5px solid #0E0B0A;border-radius:24px;padding:28px;box-shadow:6px 6px 0 #0E0B0A\">\n<div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6;margin-bottom:8px\">Servicio</div>\n<div style=\"font-family:'Fraunces',Georgia,serif;font-style:italic;font-size:32px;letter-spacing:-0.03em\">${c.servicio?.nombre||''}</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Día y hora</div>\n<div style=\"font-size:18px;font-weight:600\">${fecha} hs</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Lugar</div>\n<div style=\"font-size:14px\">Av. Santa Fe 2345 · CABA</div></td></tr>\n<tr><td style=\"padding:24px 0 0\"><span style=\"display:inline-block;background:#D6FF3F;border:2px solid #0E0B0A;border-radius:999px;padding:14px 22px;font-weight:600;font-size:14px\">⏰ Te esperamos mañana</span></td></tr>\n<tr><td style=\"padding:24px 0 0;font-size:13px;line-height:1.5\">Si necesitás reprogramar, llamanos al <strong>+54 351 569 8724</strong>.</td></tr>\n<tr><td style=\"padding:32px 0 0;font-family:'JetBrains Mono',monospace;font-size:10px;opacity:0.5;letter-spacing:0.1em;text-transform:uppercase\">© Salón Bella · Buenos Aires</td></tr>\n</table></td></tr></table></body></html>`;\n  return { json: { cita_id: c.id, email_to: c.cliente.email,\n    email_subject: 'Recordatorio · Tu turno mañana en Salón Bella', email_html: html } };\n});"
        },
        "id": "a2855ef5-3f89-499e-b4da-7c2e4bc056c2",
        "name": "Buscar Citas de Mañana",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          1328
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email_to }}",
          "subject": "={{ $json.email_subject }}",
          "message": "={{ $json.email_html }}",
          "options": {
            "appendAttribution": false,
            "senderName": "Salón Bella"
          }
        },
        "id": "3a549132-efda-4157-ba30-e7ba5cd2a694",
        "name": "Enviar Recordatorio por Mail",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          784,
          1328
        ],
        "webhookId": "60beb942-7bb8-4386-b7d2-bad08347b521",
        "credentials": {
          "gmailOAuth2": {
            "id": "52j2lE0hHuMGhLTg",
            "name": "Gmail Romassardo"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "citas",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Buscar Citas de Mañana').item.json.cita_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "recordatorio_24h_enviado",
                "fieldValue": "true"
              }
            ]
          }
        },
        "id": "a6429966-9e07-4561-910c-7ed915083e1e",
        "name": "Marcar Recordatorio como Enviado",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1088,
          1328
        ],
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "Use when the user asks open/exploratory availability questions (e.g. 'qué días tenés?', 'esta semana', 'cuándo me podés tomar') OR when get_horarios_disponibles for a specific day returned an empty available_slots and you need to suggest alternatives. Returns days with availability over the next N days.",
          "method": "POST",
          "url": "https://vqkzghdqtevncyycloxv.supabase.co/rest/v1/rpc/get_proximos_dias_disponibles",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "svc_nombre",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_nombre', 'Nombre exacto del servicio (Manicure, Corte, Coloración, Pedicure, Maquillaje social, Tratamiento facial)') }}"
              },
              {
                "name": "dias_a_buscar",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dias_a_buscar', 'Cantidad de días hacia adelante a explorar (default 7, max 30)', 'number') }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 15000
          }
        },
        "id": "5be5a3cf-9a88-40b7-a5a2-4076b46f9c27",
        "name": "get_proximos_dias_disponibles",
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.4,
        "position": [
          640,
          880
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ text: 'Uy, justo se ocupó ese horario mientras confirmábamos. ¿Querés que te busque otro?', booked: false }) }}",
          "options": {}
        },
        "id": "6cb6f660-8137-43ca-90b4-622145cbda2a",
        "name": "Avisar Conflicto al Chat",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2256,
          832
        ]
      },
      {
        "parameters": {},
        "id": "3878adff-ddc2-4a49-a275-d850fbc67733",
        "name": "Disparador · Error en Workflow",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          1808,
          1328
        ]
      },
      {
        "parameters": {
          "tableId": "errors_log",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "workflow",
                "fieldValue": "={{ $json.workflow.name }}"
              },
              {
                "fieldId": "error",
                "fieldValue": "={{ ($json.execution && $json.execution.error && $json.execution.error.message) || 'Error sin mensaje' }}"
              },
              {
                "fieldId": "payload",
                "fieldValue": "={{ JSON.stringify({ execution_id: $json.execution && $json.execution.id, mode: $json.execution && $json.execution.mode, node_name: $json.execution && $json.execution.error && $json.execution.error.node && $json.execution.error.node.name, node_type: $json.execution && $json.execution.error && $json.execution.error.node && $json.execution.error.node.type, stack: $json.execution && $json.execution.error && $json.execution.error.stack, last_node: $json.execution && $json.execution.lastNodeExecuted, started_at: $json.execution && $json.execution.startedAt }) }}"
              }
            ]
          }
        },
        "id": "ca3a9dba-03a6-44a8-a334-b76cafae42a3",
        "name": "Guardar Error en Log",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2032,
          1328
        ],
        "credentials": {
          "supabaseApi": {
            "id": "2PO2tt6JcHivDD8Q",
            "name": "Supabase Bella Salon"
          }
        }
      },
      {
        "parameters": {
          "content": "## 📝 FLUJO 1 · Reserva por formulario web\n\nCuando un cliente completa el form de reserva en `/`:\n\n1. **Webhook** recibe `nombre_completo`, `telefono`, `email`, `servicio_nombre`, `fecha_hora`.\n2. **Buscar Servicio** trae el `id` y `duracion_minutos` desde el catálogo.\n3. **Buscar Cliente por Teléfono** — si ya existe, reusa su `id`. Si no, **Registrar Cliente Nuevo** lo crea (dedupe por teléfono UNIQUE).\n4. **Guardar Cita en Agenda** persiste en `citas` (el trigger DB chequea overlap por duración).\n5. **Armar Plantillas de Aviso** genera HTML del mail + texto de Telegram + ICS para calendario.\n6. **¿Enviar Mail al Cliente?** → si la cita es a <24 h, manda el mail; si no, va por la rama del recordatorio cron.\n7. **Avisar a la Dueña por Telegram** notifica la nueva reserva.\n8. **Responder al Formulario Web** devuelve `{ok, cita_id}` al frontend.",
          "height": 444,
          "width": 480,
          "color": 5
        },
        "id": "01db6183-84fb-4965-bfbe-6a99d3f134a5",
        "name": "Nota Flujo Formulario",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -592,
          -80
        ]
      },
      {
        "parameters": {
          "content": "## 💬 FLUJO 2 · Chat con Bella (asistente IA)\n\nCuando un cliente conversa con Bella en `/` (componente `<Assistant />`):\n\n1. **Webhook** recibe `{sessionId, message}`.\n2. **Agente Bella (LLM)** razona con GPT-4o (fallback gpt-4o-mini), 15 turnos de memoria.\n   - Tools: `get_horarios_disponibles(fecha)`, `get_proximos_dias_disponibles(rango)`.\n   - Output Parser exige JSON: `{reply, ready_to_book, data:{nombre, tel, email, servicio, fecha_hora, notas}}`.\n3. **¿Lista para Reservar?** valida que `ready_to_book=true` Y los 5 campos de `data` estén llenos.\n   - Si NO → **Responder Mensaje al Chat** devuelve solo el reply textual.\n   - Si SÍ → entra al subflujo de booking (mismos pasos 2-7 del flujo del formulario).\n4. Si Supabase rechaza el INSERT por overlap → **Avisar Conflicto al Chat** responde \"se ocupó ese horario\".\n5. **Confirmar Reserva al Chat** responde `{text, booked:true}` cuando todo OK; el frontend dispara la tarjeta verde solo con ese flag.",
          "height": 428,
          "width": 612,
          "color": 6
        },
        "id": "3c1e8991-be45-4d0f-9be0-ad9339550e0d",
        "name": "Nota Flujo Chat IA",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -624,
          480
        ]
      },
      {
        "parameters": {
          "content": "## ⏰ FLUJO 3 · Recordatorios automáticos 24 h antes\n\nDispara cada 30 minutos:\n\n1. **Buscar Citas de Mañana** consulta `citas` con `estado='confirmada'`, `recordatorio_24h_enviado=false` y `fecha_hora` entre 23 y 25 h en el futuro.\n2. **Enviar Recordatorio por Mail** dispara el mail al cliente.\n3. **Marcar Recordatorio como Enviado** flag `recordatorio_24h_enviado=true` para no duplicar.",
          "height": 240,
          "width": 1100,
          "color": 4
        },
        "id": "84d6a7ee-91db-45e8-9a64-3aa8f745efd2",
        "name": "Nota Flujo Recordatorios",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          1520
        ]
      },
      {
        "parameters": {
          "content": "## 🚨 FLUJO 4 · Captura global de errores\n\nCualquier nodo del workflow que lance un error no manejado:\n\n1. **Error Trigger** lo captura automáticamente.\n2. **Guardar Error en Log** inserta una fila en `errors_log` con `workflow`, `error`, y un `payload` JSON (execution_id, node_name, stack, último nodo ejecutado).\n3. **Avisar Error a la Dueña por Telegram** manda un mensaje inmediato con workflow + nodo + mensaje + execution_id + hora.\n\nLos errores que SÍ se manejan inline (ej. conflict 409 → \"Avisar Conflicto al Chat\") **no** se loggean acá.",
          "height": 220,
          "width": 800,
          "color": 3
        },
        "id": "5a33d7af-8a3d-44dd-aa6f-31f7d0486104",
        "name": "Nota Flujo Errores",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1728,
          1520
        ]
      },
      {
        "parameters": {
          "chatId": "658942831",
          "text": "={{ '🚨 <b>Error en Salón Bella</b>\\n\\n<b>Workflow:</b> ' + $json.workflow.name + '\\n<b>Nodo:</b> ' + (($json.execution && $json.execution.error && $json.execution.error.node && $json.execution.error.node.name) || 'desconocido') + '\\n<b>Mensaje:</b> ' + (($json.execution && $json.execution.error && $json.execution.error.message) || 'sin mensaje') + '\\n<b>Execution:</b> ' + (($json.execution && $json.execution.id) || '?') + '\\n<b>Hora:</b> ' + new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Cordoba' }) }}",
          "additionalFields": {
            "appendAttribution": false,
            "disable_web_page_preview": true,
            "parse_mode": "HTML"
          }
        },
        "id": "d526e61a-f3ad-4a5b-8375-340a0c0fcc38",
        "name": "Avisar Error a la Dueña por Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2272,
          1328
        ],
        "webhookId": "50f7a512-0e38-4969-9bde-a3b7d5a2c70f",
        "credentials": {
          "telegramApi": {
            "id": "sthC5kq0IWcOMLuJ",
            "name": "Telegram Bella Salon"
          }
        }
      }
    ],
    "connections": {
      "Webhook · Reserva por Formulario": {
        "main": [
          [
            {
              "node": "Preparar Datos del Formulario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos del Formulario": {
        "main": [
          [
            {
              "node": "Buscar Servicio en Catálogo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Servicio en Catálogo": {
        "main": [
          [
            {
              "node": "Buscar Cliente por Teléfono",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Cliente por Teléfono": {
        "main": [
          [
            {
              "node": "¿Cliente ya registrado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Cliente ya registrado?": {
        "main": [
          [
            {
              "node": "Guardar Cita en Agenda",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Registrar Cliente Nuevo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Cita en Agenda": {
        "main": [
          [
            {
              "node": "Armar Plantillas de Aviso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar Cliente Nuevo": {
        "main": [
          [
            {
              "node": "Guardar Cita en Agenda",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Armar Plantillas de Aviso": {
        "main": [
          [
            {
              "node": "¿Enviar Mail al Cliente?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Enviar Mail al Cliente?": {
        "main": [
          [
            {
              "node": "Enviar Mail de Confirmación",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Avisar a la Dueña por Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Mail de Confirmación": {
        "main": [
          [
            {
              "node": "Avisar a la Dueña por Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avisar a la Dueña por Telegram": {
        "main": [
          [
            {
              "node": "Responder al Formulario Web",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook · Chat con Bella": {
        "main": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente Bella (LLM)": {
        "main": [
          [
            {
              "node": "¿Lista para Reservar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Principal · GPT-4o": {
        "ai_languageModel": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Modelo Fallback · GPT-4o-mini": {
        "ai_languageModel": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Memoria de Conversación": {
        "ai_memory": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "get_horarios_disponibles": {
        "ai_tool": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Parser de Salida JSON": {
        "ai_outputParser": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "¿Lista para Reservar?": {
        "main": [
          [
            {
              "node": "Preparar Datos del Chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder Mensaje al Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos del Chat": {
        "main": [
          [
            {
              "node": "Buscar Servicio en Catálogo (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Servicio en Catálogo (Chat)": {
        "main": [
          [
            {
              "node": "Buscar Cliente por Teléfono (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Cliente por Teléfono (Chat)": {
        "main": [
          [
            {
              "node": "¿Cliente ya registrado? (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Cliente ya registrado? (Chat)": {
        "main": [
          [
            {
              "node": "Guardar Cita en Agenda (Chat)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Registrar Cliente Nuevo (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Cita en Agenda (Chat)": {
        "main": [
          [
            {
              "node": "Armar Plantillas de Aviso (Chat)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Avisar Conflicto al Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar Cliente Nuevo (Chat)": {
        "main": [
          [
            {
              "node": "Guardar Cita en Agenda (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Armar Plantillas de Aviso (Chat)": {
        "main": [
          [
            {
              "node": "¿Enviar Mail al Cliente? (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Enviar Mail al Cliente? (Chat)": {
        "main": [
          [
            {
              "node": "Enviar Mail de Confirmación (Chat)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Avisar a la Dueña por Telegram (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Mail de Confirmación (Chat)": {
        "main": [
          [
            {
              "node": "Avisar a la Dueña por Telegram (Chat)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avisar a la Dueña por Telegram (Chat)": {
        "main": [
          [
            {
              "node": "Confirmar Reserva al Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Disparador · Cada 30 minutos": {
        "main": [
          [
            {
              "node": "Buscar Citas de Mañana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Citas de Mañana": {
        "main": [
          [
            {
              "node": "Enviar Recordatorio por Mail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Recordatorio por Mail": {
        "main": [
          [
            {
              "node": "Marcar Recordatorio como Enviado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_proximos_dias_disponibles": {
        "ai_tool": [
          [
            {
              "node": "Agente Bella (LLM)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Disparador · Error en Workflow": {
        "main": [
          [
            {
              "node": "Guardar Error en Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Error en Log": {
        "main": [
          [
            {
              "node": "Avisar Error a la Dueña por Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true,
      "binaryMode": "separate"
    },
    "staticData": {
      "node:Cada 30 min": {
        "recurrenceRules": []
      },
      "node:Disparador · Cada 30 minutos": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "aiBuilderAssisted": true
    },
    "pinData": {},
    "versionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
    "activeVersionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
    "versionCounter": 193,
    "triggerCount": 3,
    "shared": [
      {
        "updatedAt": "2026-04-27T01:38:51.270Z",
        "createdAt": "2026-04-27T01:38:51.270Z",
        "role": "workflow:owner",
        "workflowId": "nHNPhKrI2c6Bx04W",
        "projectId": "C1ycZ49UTxeBFNSW",
        "project": {
          "updatedAt": "2026-01-21T22:07:52.465Z",
          "createdAt": "2026-01-21T22:07:47.497Z",
          "id": "C1ycZ49UTxeBFNSW",
          "name": "Rodrigo Massardo <romassardo@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "dd492cc0-591a-4d5a-b538-1fbeda2ab4a8"
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-28T02:53:25.127Z",
        "createdAt": "2026-04-28T02:53:25.127Z",
        "id": "f9jvOD8LEMAYElQb",
        "name": "HENRY"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-05-03T05:24:03.000Z",
      "createdAt": "2026-05-03T05:22:10.165Z",
      "versionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
      "workflowId": "nHNPhKrI2c6Bx04W",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "reserva",
            "authentication": "headerAuth",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "bd2bd3d4-c871-4ac5-bdf7-7c7b863c3d75",
          "name": "Webhook · Reserva por Formulario",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            224,
            32
          ],
          "webhookId": "0c5829ee-96d3-4f06-b5f2-5a5c38020e1e",
          "credentials": {
            "httpHeaderAuth": {
              "id": "QN6X4yz4aXBfZpvd",
              "name": "Salon Bella Webhook Auth"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "a1",
                  "name": "nombre_completo",
                  "value": "={{ $json.body.nombre_completo }}",
                  "type": "string"
                },
                {
                  "id": "a2",
                  "name": "telefono",
                  "value": "={{ $json.body.telefono }}",
                  "type": "string"
                },
                {
                  "id": "a3",
                  "name": "email",
                  "value": "={{ $json.body.email }}",
                  "type": "string"
                },
                {
                  "id": "a4",
                  "name": "servicio_nombre",
                  "value": "={{ $json.body.servicio_nombre }}",
                  "type": "string"
                },
                {
                  "id": "a5",
                  "name": "fecha_hora",
                  "value": "={{ $json.body.fecha_hora }}",
                  "type": "string"
                },
                {
                  "id": "a6",
                  "name": "medio_reserva",
                  "value": "formulario",
                  "type": "string"
                },
                {
                  "id": "a7",
                  "name": "notas",
                  "value": "={{ $json.body.notas || '' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "55fd92fb-58c6-4ade-bd7e-a3620dca4f2f",
          "name": "Preparar Datos del Formulario",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            432,
            32
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "servicios",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "nombre",
                  "condition": "eq",
                  "keyValue": "={{ $json.servicio_nombre }}"
                }
              ]
            }
          },
          "id": "686553a0-004e-4e31-8e3d-fe2d21d770dc",
          "name": "Buscar Servicio en Catálogo",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            624,
            32
          ],
          "alwaysOutputData": true,
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "clientes",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "telefono",
                  "condition": "eq",
                  "keyValue": "={{ $('Preparar Datos del Formulario').first().json.telefono }}"
                }
              ]
            }
          },
          "id": "5e15f4b1-e398-4074-b60e-fdd1e50413ae",
          "name": "Buscar Cliente por Teléfono",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            832,
            32
          ],
          "alwaysOutputData": true,
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-k4gsppwlw"
                }
              ],
              "conditions[0]": {
                "operator": {
                  "singleValue": true
                }
              }
            },
            "options": {}
          },
          "id": "ff7375ad-4812-4827-bdbf-452064fac080",
          "name": "¿Cliente ya registrado?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1024,
            32
          ]
        },
        {
          "parameters": {
            "tableId": "citas",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "cliente_id",
                  "fieldValue": "={{ $json.id }}"
                },
                {
                  "fieldId": "servicio_id",
                  "fieldValue": "={{ $('Buscar Servicio en Catálogo').first().json.id }}"
                },
                {
                  "fieldId": "fecha_hora",
                  "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.fecha_hora }}"
                },
                {
                  "fieldId": "medio_reserva",
                  "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.medio_reserva }}"
                },
                {
                  "fieldId": "notas",
                  "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.notas }}"
                },
                {
                  "fieldId": "recordatorio_24h_enviado",
                  "fieldValue": "={{ ((new Date($('Preparar Datos del Formulario').first().json.fecha_hora).getTime() - Date.now()) / 3600000) < 24 }}"
                }
              ]
            }
          },
          "id": "199c813b-70f6-4add-a02a-3a21e1966616",
          "name": "Guardar Cita en Agenda",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            1424,
            16
          ],
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "tableId": "clientes",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "nombre_completo",
                  "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.nombre_completo }}"
                },
                {
                  "fieldId": "telefono",
                  "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.telefono }}"
                },
                {
                  "fieldId": "email",
                  "fieldValue": "={{ $('Preparar Datos del Formulario').first().json.email }}"
                }
              ]
            }
          },
          "id": "d91b6750-77db-4d6b-a0b4-fb7707369fe9",
          "name": "Registrar Cliente Nuevo",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            1232,
            144
          ],
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const body = $('Preparar Datos del Formulario').first().json;\nconst servicio = $('Buscar Servicio en Catálogo').first().json;\nconst hoursUntil = (new Date(body.fecha_hora).getTime() - Date.now()) / 3600000;\nconst send_email_now = true;\nconst fmt = new Date(body.fecha_hora).toLocaleString('es-AR', {\n  weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit',\n  timeZone: 'America/Argentina/Cordoba', hour12: false,\n});\nconst subject = 'Reserva confirmada · Salón Bella';\nconst greeting = 'Tu reserva quedó confirmada';\nconst startDate = new Date(body.fecha_hora);\nconst endDate = new Date(startDate.getTime() + servicio.duracion_minutos * 60000);\nconst fmtUtc = (d) => { const s = d.toISOString(); return s.substring(0,4)+s.substring(5,7)+s.substring(8,10)+'T'+s.substring(11,13)+s.substring(14,16)+s.substring(17,19)+'Z'; };\nconst startUtc = fmtUtc(startDate);\nconst endUtc = fmtUtc(endDate);\nconst eventTitle = 'Salón Bella · ' + servicio.nombre;\nconst eventLocation = 'Av. Santa Fe 2345 CABA';\nconst eventDetails = 'Reserva confirmada en Salón Bella. Cliente: ' + body.nombre_completo + '. Servicio: ' + servicio.nombre + '.';\nconst gcalUrl = 'https://calendar.google.com/calendar/render?action=TEMPLATE&text='+encodeURIComponent(eventTitle)+'&dates='+startUtc+'/'+endUtc+'&details='+encodeURIComponent(eventDetails)+'&location='+encodeURIComponent(eventLocation);\nconst icsContent = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Salon Bella//ES','METHOD:PUBLISH','BEGIN:VEVENT','UID:cita-'+$input.first().json.id+'@salonbella.com.ar','DTSTAMP:'+fmtUtc(new Date()),'DTSTART:'+startUtc,'DTEND:'+endUtc,'SUMMARY:'+eventTitle,'DESCRIPTION:'+eventDetails,'LOCATION:'+eventLocation,'END:VEVENT','END:VCALENDAR'].join('\\r\\n');\nconst html = `<!doctype html><html lang=\"es-AR\"><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F2EDE6;font-family:'Inter Tight',Inter,sans-serif;color:#0E0B0A\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#F2EDE6;padding:40px 20px\"><tr><td align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"560\" style=\"max-width:560px\">\n<tr><td style=\"padding:0 0 24px\"><h1 style=\"margin:0;font-family:'Fraunces',Georgia,serif;font-weight:500;font-size:48px;letter-spacing:-0.04em\">Salón <em style=\"color:#FF3B2F\">Bella</em></h1></td></tr>\n<tr><td style=\"font-family:'JetBrains Mono',monospace;font-size:11px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;padding:0 0 8px\">[01] ${greeting}</td></tr>\n<tr><td style=\"font-family:'Fraunces',Georgia,serif;font-size:36px;letter-spacing:-0.04em;line-height:1.05;padding:0 0 32px\">${body.nombre_completo.split(' ')[0]}<em style=\"color:#FF3B2F\">.</em></td></tr>\n<tr><td style=\"background:#FFFFFF;border:1.5px solid #0E0B0A;border-radius:24px;padding:28px;box-shadow:6px 6px 0 #0E0B0A\">\n<div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6;margin-bottom:8px\">Servicio</div>\n<div style=\"font-family:'Fraunces',Georgia,serif;font-style:italic;font-size:32px;letter-spacing:-0.03em\">${servicio.nombre}</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Día y hora</div>\n<div style=\"font-size:18px;font-weight:600\">${fmt} hs</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Lugar</div>\n<div style=\"font-size:14px\">Av. Santa Fe 2345 · CABA</div></td></tr>\n<tr><td style=\"padding:24px 0 0\"><span style=\"display:inline-block;background:#D6FF3F;border:2px solid #0E0B0A;border-radius:999px;padding:14px 22px;font-weight:600;font-size:14px\">✓ Reserva confirmada</span></td></tr>\n<tr><td style=\"padding:28px 0 0\"><div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;margin-bottom:10px\">Sumá el turno a tu calendario</div><a href=\"${gcalUrl}\" style=\"display:inline-block;background:transparent;color:#0E0B0A;text-decoration:none;padding:7px 14px;border:1.5px solid #0E0B0A;border-radius:999px;font-weight:500;font-size:12px;margin-right:10px\">+ Google Calendar</a><span style=\"font-size:11.5px;opacity:0.6\">desde móvil/Outlook usá el adjunto <strong>turno.ics</strong></span></td></tr>\n<tr><td style=\"padding:24px 0 0;font-size:13px;line-height:1.5\">Si necesitás reprogramar, respondé este mail o llamanos al <strong>+54 351 569 8724</strong>.</td></tr>\n<tr><td style=\"padding:32px 0 0;font-family:'JetBrains Mono',monospace;font-size:10px;opacity:0.5;letter-spacing:0.1em;text-transform:uppercase\">© Salón Bella · Buenos Aires</td></tr>\n</table></td></tr></table></body></html>`;\nconst telegramText = '<b>📢 Nueva reserva confirmada</b>\\n\\n💅 <b>Servicio:</b> ' + servicio.nombre +\n  '\\n🗓 <b>Fecha:</b> ' + fmt + ' hs\\n👤 <b>Cliente:</b> ' + body.nombre_completo +\n  '\\n📧 ' + body.email + ' · 📞 ' + body.telefono + '\\n📎 ' + body.medio_reserva;\nreturn [{ binary: { ics: { data: Buffer.from(icsContent, 'utf-8').toString('base64'), mimeType: 'text/calendar', fileName: 'turno.ics' } }, json: { cita_id: $input.first().json.id, send_email_now,\n  email_to: body.email, email_subject: subject, email_html: html, telegram_text: telegramText,\n  reply: 'Listo ' + body.nombre_completo.split(' ')[0] + '. Te confirmo ' + servicio.nombre + ' el ' + fmt + ' hs. ' +\n    'Te mandamos los detalles por mail.' + ' ✨' } }];"
          },
          "id": "6fc8a4b0-d404-4a56-a430-dc5dc31da211",
          "name": "Armar Plantillas de Aviso",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1648,
            16
          ]
        },
        {
          "parameters": {
            "conditions": {
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.send_email_now }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-f4o60umrl"
                }
              ],
              "conditions[0]": {
                "operator": {
                  "singleValue": true
                }
              }
            },
            "options": {}
          },
          "id": "fa715211-ea84-48ca-8b58-809ffab4f0aa",
          "name": "¿Enviar Mail al Cliente?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1840,
            16
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $json.email_to }}",
            "subject": "={{ $json.email_subject }}",
            "message": "={{ $json.email_html }}",
            "options": {
              "appendAttribution": false,
              "attachmentsUi": {
                "attachmentsBinary": [
                  {
                    "property": "ics"
                  }
                ]
              },
              "senderName": "Salón Bella"
            }
          },
          "id": "a625245d-dd0c-4678-8959-1ef10992f16d",
          "name": "Enviar Mail de Confirmación",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            2048,
            -112
          ],
          "webhookId": "1532d26c-1408-4631-8ed9-8bfcc0a3d738",
          "credentials": {
            "gmailOAuth2": {
              "id": "52j2lE0hHuMGhLTg",
              "name": "Gmail Romassardo"
            }
          }
        },
        {
          "parameters": {
            "chatId": "658942831",
            "text": "={{ $('Armar Plantillas de Aviso').first().json.telegram_text }}",
            "additionalFields": {
              "appendAttribution": false,
              "disable_web_page_preview": true,
              "parse_mode": "HTML"
            }
          },
          "id": "ad821d0f-06d3-432f-80f3-bb645de1acc2",
          "name": "Avisar a la Dueña por Telegram",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            2224,
            32
          ],
          "webhookId": "e606d990-899d-48d8-80e6-2134087e1834",
          "credentials": {
            "telegramApi": {
              "id": "sthC5kq0IWcOMLuJ",
              "name": "Telegram Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ JSON.stringify({ ok: true, cita_id: $('Guardar Cita en Agenda').first().json.id }) }}",
            "options": {
              "responseCode": 200
            }
          },
          "id": "d4daec15-14f2-43b4-adfa-8b0661626db9",
          "name": "Responder al Formulario Web",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            2432,
            32
          ]
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "chat",
            "authentication": "headerAuth",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "05e20bcc-ae0f-403c-8c5d-efe605fff418",
          "name": "Webhook · Chat con Bella",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            240,
            624
          ],
          "webhookId": "420b5301-9a6c-4b30-a199-59aac641088a",
          "credentials": {
            "httpHeaderAuth": {
              "id": "QN6X4yz4aXBfZpvd",
              "name": "Salon Bella Webhook Auth"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "={{ $json.body.message }}",
            "hasOutputParser": true,
            "needsFallback": true,
            "options": {
              "systemMessage": "=# ROL\nSos **Bella**, asistente virtual del Salón Bella (Av. Santa Fe 2345, CABA).\nHablás español rioplatense (vos, dale, tranqui), cálida, breve y natural —\ncomo una amiga que trabaja en el salón. Nunca sonás robótica. Sin emojis\nsalvo ✨ con moderación.\n\n---\n\n# CONTEXTO TEMPORAL (inyectado en runtime)\n- Fecha y hora actual: {{ $now.setZone('America/Argentina/Cordoba').toFormat('cccc dd LLLL yyyy, HH:mm') }}\n- Hoy es: {{ $now.setZone('America/Argentina/Cordoba').toFormat('cccc') }} ({{ $now.setZone('America/Argentina/Cordoba').toFormat('yyyy-MM-dd') }})\n- Mañana: {{ $now.setZone('America/Argentina/Cordoba').plus({ days: 1 }).toFormat('cccc yyyy-MM-dd') }}\n- Zona horaria: America/Argentina/Cordoba (UTC-3)\n\nResolvé SIEMPRE expresiones relativas (\"mañana\", \"el viernes\", \"el finde\",\n\"en una semana\", \"hoy a la tarde\") contra esta fecha. Si la fecha es ambigua\n(ej. \"el martes\" pudiendo ser este o el próximo), repreguntá antes de seguir.\n\n---\n\n# ⚠️ FORMATO DE SALIDA OBLIGATORIO ⚠️\n\nDevolvés SIEMPRE un único objeto JSON con exactamente estos 3 campos, ningún otro:\n\n```json\n{\n  \"reply\": \"string — texto natural en español rioplatense para el cliente\",\n  \"ready_to_book\": false,\n  \"data\": {\n    \"nombre_completo\": null,\n    \"telefono\": null,\n    \"email\": null,\n    \"servicio_nombre\": null,\n    \"fecha_hora\": null,\n    \"notas\": null\n  }\n}\n```\n\nNUNCA devuelvas texto plano. Sin texto antes ni después del JSON.\n\n---\n\n# 🔴 REGLA CRÍTICA: PERSISTENCIA DE `data` 🔴\n\nEn CADA turno, `data` debe incluir TODO lo recolectado hasta ese momento.\nSi en un turno previo escribiste `servicio_nombre: \"Manicure\"`, en TODOS los\nturnos siguientes `data.servicio_nombre` DEBE seguir siendo `\"Manicure\"`.\n\nPensá `data` como un acumulador: solo crece o se mantiene, nunca se vacía.\nNUNCA borres datos previos. NUNCA pongas null si ya lo conociste.\n\n`fecha_hora` se completa en formato ISO 8601 con offset `-03:00`\n(ej. \"2026-05-01T16:00:00-03:00\") — exactamente como te lo devuelven los tools.\n\n---\n\n# CATÁLOGO (fuente de verdad: tabla `servicios`)\n\n| Servicio | Duración | Precio |\n|----------|----------|--------|\n| Corte | 45 min | $8.000 |\n| Coloración | 120 min | $25.000 |\n| Manicure | 45 min | $5.000 |\n| Pedicure | 60 min | $7.000 |\n| Maquillaje social | 60 min | $12.000 |\n| Tratamiento facial | 75 min | $15.000 |\n\nUsá EXACTAMENTE esos nombres en `servicio_nombre` y al llamar tools.\n\n---\n\n# HORARIOS DE ATENCIÓN\n- Lun a Vie: 09:00–20:00\n- Sábado:    09:00–18:00\n- Domingo:   CERRADO\n\nLa cita debe terminar antes del cierre (sumá la duración del servicio).\n\n---\n\n# TOOLS DISPONIBLES\n\n## 1. `get_horarios_disponibles({ servicio_nombre, fecha })`\n- Uso: cuando el cliente especifica un día concreto.\n- `fecha`: \"YYYY-MM-DD\" (resolvelo desde la fecha actual del contexto).\n- Devuelve: `{ servicio, fecha, duracion_minutos, available_slots: [ISO...] }`.\n\n## 2. `get_proximos_dias_disponibles({ servicio_nombre, dias_a_buscar })`\n- Uso: cuando la consulta es exploratoria (\"¿qué días hay?\", \"esta semana\",\n  \"cuándo me podés tomar\") O cuando el día solicitado no tiene slots.\n- `dias_a_buscar`: int (default 7, máximo 30).\n- Devuelve: `{ servicio, dias_disponibles: [{fecha, dia_semana, primera_hora_libre, total_slots}] }`.\n\n---\n\n# INTERPRETACIÓN DE HORARIOS DEL CLIENTE\n\nCuando el cliente da una hora (\"las 15\", \"a las 16\", \"15:30\", \"15hs\", \"3 de la tarde\"):\n1. Convertilo a HH:MM en 24h. \"las 15\" = 15:00 (NO 15:30, NO un rango). \"a las 3 de la tarde\" = 15:00.\n2. Si la fecha o el servicio cambiaron desde el último tool call, llamá `get_horarios_disponibles` AHORA con el nuevo día.\n3. Buscalo EXACTO en `available_slots`:\n   - ✅ SI EXISTE → ELEGÍLO. Tu próximo reply es: \"Dale, te anoto {servicio} el {día} a las HH:MM. Para confirmar, ¿me pasás nombre completo, teléfono y email?\". NO ofrezcas opciones, NO listes alternativas, NO repreguntes \"¿cuál preferís?\". El cliente YA decidió.\n   - ❌ SI NO EXISTE → ofrecé 1–2 cercanos (±30 min) que sí estén en `available_slots`,\n     diciendo \"a las HH:MM no tengo, te ofrezco X o Y\".\n4. Si la hora es ambigua (\"a las 3\" sin AM/PM), asumí PM si entre 12 y 19, AM si entre 9 y 11.\n\n## Ejemplo de aceptación directa\nUsuario dijo previamente: \"días para manicure\" → vos llamaste exploratorio y dijiste \"martes desde las 9\".\nUsuario ahora: \"el martes a las 15\"\n→ Llamá `get_horarios_disponibles({servicio_nombre:\"Manicure\", fecha:\"<martes>\"})`. Suponé que `available_slots` incluye \"15:00\".\n→ Reply CORRECTO: \"Dale, te anoto Manicure el martes a las 15:00. Para confirmar, ¿me pasás nombre completo, teléfono y email?\"\n→ Reply INCORRECTO: \"Para el martes tengo a las 15:00 o 15:30. ¿Cuál preferís?\" (NO repreguntes si el cliente ya eligió una hora exacta que existe).\n\n---\n\n# ALGORITMO DE DECISIÓN (en orden)\n\n1. **Identificar intención**: info | reserva con día concreto | exploración de días | reagendar | cancelar | otro.\n\n2. **Si reserva con día concreto**:\n   a. Identificar servicio. Si ambiguo → preguntar.\n   b. Resolver fecha contra fecha actual del contexto.\n   c. Validar contra horarios. Si fuera de rango → sugerir el más cercano hábil.\n   d. Llamar `get_horarios_disponibles`. NUNCA afirmar slots sin esta llamada.\n   e. Si `available_slots` tiene elementos → ofrecer 2 opciones concretas y pedir\n      preferencia. Guardar `data.servicio_nombre` y, cuando el cliente elija,\n      `data.fecha_hora` (ISO completo).\n   f. Si `available_slots` está vacío → llamar `get_proximos_dias_disponibles`\n      con `dias_a_buscar: 5` ANTES de decir que no hay. Ofrecer 1–2 alternativas\n      reales del rango.\n   g. Pedí los 3 datos del cliente: nombre completo + teléfono + email. Si ya\n      los tenés en `data`, NO los vuelvas a pedir.\n   h. Releé el resumen y pedí \"¿Confirmás?\".\n   i. Solo cuando el cliente diga \"sí\"/\"dale\"/\"confirmo\" explícitamente:\n      poné `ready_to_book: true` con TODOS los campos de `data` no-null.\n\n3. **Si exploración de días** (\"¿qué días tenés?\", \"esta semana\"):\n   a. Identificar servicio. Si falta → preguntar.\n   b. Llamar `get_proximos_dias_disponibles({ servicio_nombre, dias_a_buscar: 7 })`.\n   c. Resumir 2-3 días con disponibilidad (fecha legible + primer horario).\n\n4. **Si info** (precios, servicios, horarios, dirección): responder con catálogo.\n   No inventar promociones ni servicios fuera del catálogo.\n\n5. **Si quiere cancelar o reagendar un turno** → NO lo intentes vos. Respondé amable\n   y derivá a los canales humanos:\n   \"Las cancelaciones y cambios de horario los maneja el salón directo. Escribinos\n   por WhatsApp al +54 9 11 5569 8724 o por mail a turnos@salonbella.com.ar\n   y te lo resolvemos al toque.\"\n   Devolvé ese reply manteniendo `ready_to_book: false` y `data` igual al turno previo.\n\n6. **Si fuera de scope** (cualquier consulta no relacionada al salón): aplicar SCOPE (sección siguiente). NO respondas la pregunta, redirigí en 1 oración.\n\n---\n\n# 🛑 SCOPE — TEMAS PERMITIDOS Y RECHAZO DE OFF-TOPIC 🛑\n\nSos un asistente de un salón de belleza. **SOLO** podés hablar de:\n- Turnos (reservar, consultar disponibilidad; reagendar/cancelar → derivar a humano)\n- Servicios del catálogo y sus precios/duración\n- Horarios de atención y dirección del salón (Av. Santa Fe 2345, CABA)\n- Datos de contacto del salón (WhatsApp / mail)\n- Recomendaciones generales sobre los servicios listados (ej. cuánto dura un color, qué incluye un facial)\n\n## ❌ PROHIBIDO responder (aunque sepas la respuesta):\n- Deportes, fútbol, jugadores, dorsales, equipos, resultados\n- Política, religión, noticias, actualidad\n- Cultura general, historia, geografía, ciencia, matemática, trivia\n- Famosos, música, cine, series, libros\n- Cocina, recetas, salud médica, finanzas, programación\n- Otros salones, competencia, comparaciones\n- Chistes, juegos, role-play, traducciones, redacción de textos\n- Cualquier cosa que no esté en la lista de \"temas permitidos\"\n\n## Regla dura\n- NUNCA contestes la pregunta off-topic, ni siquiera \"un poquito\" antes de redirigir.\n- NUNCA confirmes datos (\"sí, claro\", \"correcto\", \"así es\") sobre temas off-topic.\n- NUNCA digas \"no soy experto pero...\" y des la respuesta igual.\n- Si el usuario insiste, mantenete firme con un redirect equivalente, sin ablandarte.\n\n## Plantilla de rechazo (variá la redacción, mantené el sentido)\n> \"Solo te puedo ayudar con cosas del salón —turnos, servicios, horarios o precios—. ¿Te ayudo con algo de eso?\"\n\nMantené `ready_to_book: false` y `data` igual al turno previo (no la vacíes ni la modifiques).\n\n## Few-shot de off-topic (REPLICÁ ESTE PATRÓN)\n\n### Ejemplo A — Trivia / deportes\nUsuario: \"¿Sabés el nombre de Messi?\"\n```json\n{\"reply\":\"Solo te puedo ayudar con cosas del salón —turnos, servicios, horarios o precios—. ¿Te ayudo con algo de eso?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo B — Insistencia sobre off-topic\nUsuario: \"Dale igual, decime qué dorsal usa Messi\"\n```json\n{\"reply\":\"Eso se me escapa, soy solo del salón. ¿Querés que te busque un turno o te paso precios?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo C — Receta / cocina\nUsuario: \"¿Me pasás una receta de milanesas?\"\n```json\n{\"reply\":\"Uh, de cocina no sé nada — solo manejo turnos y servicios del salón. ¿Reservamos algo?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo D — Política / actualidad\nUsuario: \"¿Quién va a ganar las elecciones?\"\n```json\n{\"reply\":\"De eso no opino, soy asistente del Salón Bella. ¿Te ayudo con un turno, precios u horarios?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n### Ejemplo E — Off-topic en medio de una reserva (preservar `data`)\nContexto: ya se anotó `servicio_nombre: \"Corte\"`.\nUsuario: \"Che, ¿cuánto es 2+2?\"\n```json\n{\"reply\":\"Ja, eso te lo dejo a vos — yo solo manejo el salón. ¿Seguimos con el turno de Corte?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":\"Corte\",\"fecha_hora\":null,\"notas\":null}}\n```\n\n---\n\n# REGLAS DURAS (no negociables)\n\n- 🚫 PROHIBIDO responder preguntas off-topic (deportes, política, cultura general, recetas, trivia, etc.). Aplicá SCOPE y redirigí.\n- 🚫 PROHIBIDO inventar disponibilidad. Si no llamaste a `get_horarios_disponibles`\n  o `get_proximos_dias_disponibles`, NO podés decir \"tengo a las X\" ni \"no hay turnos\".\n- 🚫 PROHIBIDO ofrecer un horario que NO esté EXACTAMENTE en el array `available_slots`\n  del último tool call. Los ejemplos del prompt son ilustrativos: en producción los\n  horarios SIEMPRE salen del tool, nunca de tu memoria ni de los ejemplos.\n- 🚫 PROHIBIDO usar el horario `data.fecha_hora` de un turno previo si en este turno\n  el cliente está eligiendo de slots distintos: cada elección debe coincidir con el\n  array `available_slots` más reciente.\n- 🚫 PROHIBIDO afirmar que cancelaste, reagendaste o modificaste un turno. NO tenés\n  herramientas para eso. Siempre derivá a WhatsApp +54 9 11 5569 8724 o\n  turnos@salonbella.com.ar.\n- 🚫 PROHIBIDO inventar precios, promociones, profesionales o servicios fuera del catálogo.\n- 🚫 PROHIBIDO poner `ready_to_book: true` sin confirmación explícita del cliente\n  (\"sí\", \"dale\", \"confirmo\", \"perfecto\").\n- 🚫 PROHIBIDO poner `ready_to_book: true` con algún campo de `data` en null.\n- ✂️ Respuestas de 1–3 oraciones máximo. Si necesitás más, partilas en turnos.\n- ⚠️ Ante error de tool, reply: \"Disculpá, tuve un problema consultando la agenda,\n  ¿probás de nuevo en un momento?\". Nunca expongas detalles técnicos.\n\n---\n\n# FORMATO DE OFERTA DE TURNOS (cuando ofrezcas slots)\n\n> \"Tengo el {día legible} a las {HH:MM} o a las {HH:MM}. ¿Cuál te queda?\"\n\nPara fechas, usá legibles (\"mañana\", \"el viernes 1° de mayo\", \"este sábado\") en\n`reply`, pero el ISO completo en `data.fecha_hora` cuando el cliente elija.\n\n---\n\n# EJEMPLOS\n\n## Turno 1 — Saludo\nUsuario: \"Hola\"\n```json\n{\"reply\":\"¡Hola! Soy Bella ✨ ¿Qué servicio buscás y para cuándo?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":null,\"fecha_hora\":null,\"notas\":null}}\n```\n\n## Turno 2 — Reserva con día concreto\nUsuario: \"Quiero pedicure el jueves al mediodía\"\n[Llamás `get_horarios_disponibles({servicio_nombre:\"Pedicure\", fecha:\"<jueves YYYY-MM-DD>\"})` y suponé que el tool devuelve `available_slots: [\"<j>T11:30:00-03:00\",\"<j>T12:00:00-03:00\",\"<j>T13:30:00-03:00\"]`]\n```json\n{\"reply\":\"Para Pedicure el jueves tengo 11:30, 12:00 o 13:30. ¿Cuál te queda?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":null,\"notas\":null}}\n```\n⚠️ Los 3 horarios del reply salen del array `available_slots` que devolvió el tool. NO son fijos: cambian en cada llamada real.\n\n## Turno 3 — Cliente elige horario\nUsuario: \"Las 12:00 me viene\"\n```json\n{\"reply\":\"Dale, te anoto Pedicure el jueves a las 12:00. Para confirmar, ¿me pasás nombre completo, teléfono y email?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":null,\"telefono\":null,\"email\":null,\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":\"<j>T12:00:00-03:00\",\"notas\":null}}\n```\n\n## Turno 4 — Datos del cliente\nUsuario: \"Sofía García, 1166778899, sofi@example.com\"\n```json\n{\"reply\":\"Listo. Te confirmo: Pedicure el jueves a las 12:00 a nombre de Sofía García. ¿Confirmás?\",\"ready_to_book\":false,\"data\":{\"nombre_completo\":\"Sofía García\",\"telefono\":\"1166778899\",\"email\":\"sofi@example.com\",\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":\"<j>T12:00:00-03:00\",\"notas\":null}}\n```\n\n## Turno 5 — Confirmación final\nUsuario: \"Sí, confirmo\"\n```json\n{\"reply\":\"¡Listo ✨ Te esperamos el jueves a las 12:00 en Av. Santa Fe 2345!\",\"ready_to_book\":true,\"data\":{\"nombre_completo\":\"Sofía García\",\"telefono\":\"1166778899\",\"email\":\"sofi@example.com\",\"servicio_nombre\":\"Pedicure\",\"fecha_hora\":\"<j>T12:00:00-03:00\",\"notas\":null}}\n```\n\n## Ejemplo — Sin disponibilidad ese día\nUsuario: \"Manicure el sábado a las 11\"\n[Llamás `get_horarios_disponibles` → available_slots no contiene 11:00. Llamás `get_proximos_dias_disponibles({servicio_nombre:\"Manicure\", dias_a_buscar:5})`]\nReply: \"Justo el sábado a las 11 no tengo, pero el mismo día a las 13:00 sí, o el viernes a las 16:00. ¿Te sirve alguno?\"\n\n## Ejemplo — Pregunta exploratoria\nUsuario: \"¿Qué días tenés disponibilidad para coloración?\"\n[Llamás `get_proximos_dias_disponibles({servicio_nombre:\"Coloración\", dias_a_buscar:7})`]\nReply: \"Esta semana tengo lugar el miércoles desde las 9, jueves desde las 10:30 y sábado desde las 9. ¿Cuál te queda mejor?\"\n\n## Ejemplo — Fecha ambigua\nUsuario: \"Reservame para el martes\"\nReply: \"¿Este martes 28 o el martes que viene 5 de mayo?\"\n\n## Ejemplo — Fuera de horario\nUsuario: \"Color el domingo\"\nReply: \"El domingo cerramos. Abrimos sábado hasta las 18 y de lunes a viernes hasta las 20. ¿Te busco un horario en otro día?\"",
              "maxIterations": 6,
              "returnIntermediateSteps": false
            }
          },
          "id": "204a2e66-dcba-491d-8192-993f02503bb6",
          "name": "Agente Bella (LLM)",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "typeVersion": 3.1,
          "position": [
            480,
            624
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o"
            },
            "responsesApiEnabled": false,
            "options": {
              "maxTokens": 800,
              "responseFormat": "json_object",
              "temperature": 0.2,
              "timeout": 30000
            }
          },
          "id": "d0239936-bd81-4277-b5e8-294d9010afcc",
          "name": "Modelo Principal · GPT-4o",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            160,
            880
          ],
          "credentials": {
            "openAiApi": {
              "id": "A28jbbNw7G49sizM",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o-mini"
            },
            "responsesApiEnabled": false,
            "options": {
              "maxTokens": 800,
              "responseFormat": "json_object",
              "temperature": 0.2,
              "timeout": 30000
            }
          },
          "id": "278559b5-bcef-4836-920a-5afd3d0ae9f9",
          "name": "Modelo Fallback · GPT-4o-mini",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            320,
            880
          ],
          "credentials": {
            "openAiApi": {
              "id": "A28jbbNw7G49sizM",
              "name": "OpenAi account"
            }
          }
        },
        {
          "parameters": {
            "sessionIdType": "customKey",
            "sessionKey": "={{ $('Webhook · Chat con Bella').item.json.body.sessionId }}",
            "contextWindowLength": 15
          },
          "id": "f9848259-e4c8-4c7b-af3f-b352e1acb9b9",
          "name": "Memoria de Conversación",
          "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
          "typeVersion": 1.3,
          "position": [
            480,
            880
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://vqkzghdqtevncyycloxv.supabase.co/rest/v1/rpc/get_horarios_disponibles",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
                },
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "svc_nombre",
                  "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_nombre', 'Nombre exacto del servicio (Manicure, Corte, Coloración, Pedicure, Maquillaje social, Tratamiento facial)') }}"
                },
                {
                  "name": "fecha",
                  "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', 'Fecha en formato YYYY-MM-DD') }}"
                }
              ]
            },
            "options": {
              "response": {
                "response": {
                  "responseFormat": "json"
                }
              },
              "timeout": 15000
            }
          },
          "id": "533acf4d-e0cd-4366-998a-93bd984d0009",
          "name": "get_horarios_disponibles",
          "type": "n8n-nodes-base.httpRequestTool",
          "typeVersion": 4.4,
          "position": [
            800,
            880
          ]
        },
        {
          "parameters": {
            "schemaType": "manual",
            "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n      \"reply\": { \"type\": \"string\" },\n      \"ready_to_book\": { \"type\": \"boolean\" },\n      \"data\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nombre_completo\": { \"type\": [\"string\", \"null\"] },\n          \"telefono\": { \"type\": [\"string\", \"null\"] },\n          \"email\": { \"type\": [\"string\", \"null\"] },\n          \"servicio_nombre\": { \"type\": [\"string\", \"null\"] },\n          \"fecha_hora\": { \"type\": [\"string\", \"null\"] },\n          \"notas\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\"nombre_completo\", \"telefono\", \"email\", \"servicio_nombre\", \"fecha_hora\", \"notas\"]\n      }\n    },\n    \"required\": [\"reply\", \"ready_to_book\", \"data\"]\n  }"
          },
          "id": "c3c0a584-ad32-48d0-8a5d-4a607fffc150",
          "name": "Parser de Salida JSON",
          "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
          "typeVersion": 1.3,
          "position": [
            960,
            880
          ]
        },
        {
          "parameters": {
            "conditions": {
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.output.ready_to_book }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-l9l4dbt9z"
                },
                {
                  "leftValue": "={{ $json.output.data.nombre_completo }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-vm1airxmb"
                },
                {
                  "leftValue": "={{ $json.output.data.telefono }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-pk05jqfrl"
                },
                {
                  "leftValue": "={{ $json.output.data.email }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-4uk99847f"
                },
                {
                  "leftValue": "={{ $json.output.data.servicio_nombre }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-fqww2fpqc"
                },
                {
                  "leftValue": "={{ $json.output.data.fecha_hora }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-byf167vj4"
                }
              ],
              "conditions[0]": {
                "operator": {
                  "singleValue": true
                }
              },
              "conditions[1]": {
                "operator": {
                  "singleValue": true
                }
              },
              "conditions[2]": {
                "operator": {
                  "singleValue": true
                }
              },
              "conditions[3]": {
                "operator": {
                  "singleValue": true
                }
              },
              "conditions[4]": {
                "operator": {
                  "singleValue": true
                }
              },
              "conditions[5]": {
                "operator": {
                  "singleValue": true
                }
              }
            },
            "options": {}
          },
          "id": "415806d4-16a5-4487-9bce-29a8a1fbd738",
          "name": "¿Lista para Reservar?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            848,
            624
          ]
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "b1",
                  "name": "nombre_completo",
                  "value": "={{ $json.output.data.nombre_completo }}",
                  "type": "string"
                },
                {
                  "id": "b2",
                  "name": "telefono",
                  "value": "={{ $json.output.data.telefono }}",
                  "type": "string"
                },
                {
                  "id": "b3",
                  "name": "email",
                  "value": "={{ $json.output.data.email }}",
                  "type": "string"
                },
                {
                  "id": "b4",
                  "name": "servicio_nombre",
                  "value": "={{ $json.output.data.servicio_nombre }}",
                  "type": "string"
                },
                {
                  "id": "b5",
                  "name": "fecha_hora",
                  "value": "={{ $json.output.data.fecha_hora }}",
                  "type": "string"
                },
                {
                  "id": "b6",
                  "name": "medio_reserva",
                  "value": "asistente_ia",
                  "type": "string"
                },
                {
                  "id": "b7",
                  "name": "notas",
                  "value": "={{ $json.output.data.notas || '' }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "id": "8cebf3db-2b77-418b-9a25-dfc8855635ba",
          "name": "Preparar Datos del Chat",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            1040,
            608
          ]
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "servicios",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "nombre",
                  "condition": "eq",
                  "keyValue": "={{ $json.servicio_nombre }}"
                }
              ]
            }
          },
          "id": "2ea279cc-8e4d-49ed-9c6d-c0c877bbeb80",
          "name": "Buscar Servicio en Catálogo (Chat)",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            1248,
            608
          ],
          "alwaysOutputData": true,
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "clientes",
            "limit": 1,
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "telefono",
                  "condition": "eq",
                  "keyValue": "={{ $('Preparar Datos del Chat').first().json.telefono }}"
                }
              ]
            }
          },
          "id": "adab6de1-6859-4147-99d1-2d65598cdf37",
          "name": "Buscar Cliente por Teléfono (Chat)",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            1440,
            608
          ],
          "alwaysOutputData": true,
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.id }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "notEmpty",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-9wkp42h9k"
                }
              ],
              "conditions[0]": {
                "operator": {
                  "singleValue": true
                }
              }
            },
            "options": {}
          },
          "id": "e9c2cb43-aa47-42b4-b542-36aeba295e49",
          "name": "¿Cliente ya registrado? (Chat)",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1648,
            608
          ]
        },
        {
          "parameters": {
            "tableId": "citas",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "cliente_id",
                  "fieldValue": "={{ $json.id }}"
                },
                {
                  "fieldId": "servicio_id",
                  "fieldValue": "={{ $('Buscar Servicio en Catálogo (Chat)').first().json.id }}"
                },
                {
                  "fieldId": "fecha_hora",
                  "fieldValue": "={{ $('Preparar Datos del Chat').first().json.fecha_hora }}"
                },
                {
                  "fieldId": "medio_reserva",
                  "fieldValue": "asistente_ia"
                },
                {
                  "fieldId": "notas",
                  "fieldValue": "={{ $('Preparar Datos del Chat').first().json.notas }}"
                },
                {
                  "fieldId": "recordatorio_24h_enviado",
                  "fieldValue": "={{ ((new Date($('Preparar Datos del Chat').first().json.fecha_hora).getTime() - Date.now()) / 3600000) < 24 }}"
                }
              ]
            }
          },
          "id": "5b2f3ec3-21ba-4064-9102-77b13fd9456b",
          "name": "Guardar Cita en Agenda (Chat)",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            2048,
            592
          ],
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          },
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "tableId": "clientes",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "nombre_completo",
                  "fieldValue": "={{ $('Preparar Datos del Chat').first().json.nombre_completo }}"
                },
                {
                  "fieldId": "telefono",
                  "fieldValue": "={{ $('Preparar Datos del Chat').first().json.telefono }}"
                },
                {
                  "fieldId": "email",
                  "fieldValue": "={{ $('Preparar Datos del Chat').first().json.email }}"
                }
              ]
            }
          },
          "id": "04428649-77c3-43fe-a509-9e7f05957add",
          "name": "Registrar Cliente Nuevo (Chat)",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            1840,
            816
          ],
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ (() => { const o = $json.output; const d = o.data || {}; if (o.ready_to_book === true) { const m = []; if (!d.nombre_completo) m.push('nombre completo'); if (!d.telefono)\n  m.push('teléfono'); if (!d.email) m.push('email'); if (!d.servicio_nombre) m.push('servicio'); if (!d.fecha_hora) m.push('día y hora'); if (m.length) return JSON.stringify({ text:\n  `¡Casi! Antes de confirmar me falta: ${m.join(', ')}. ¿Me lo pasás?` }); } return JSON.stringify({ text: o.reply }); })() }}",
            "options": {
              "responseCode": 200
            }
          },
          "id": "3e551ac4-aef7-4e85-b831-715a7fb3d144",
          "name": "Responder Mensaje al Chat",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            1200,
            848
          ]
        },
        {
          "parameters": {
            "jsCode": "const body = $('Preparar Datos del Chat').first().json;\nconst servicio = $('Buscar Servicio en Catálogo (Chat)').first().json;\nconst hoursUntil = (new Date(body.fecha_hora).getTime() - Date.now()) / 3600000;\nconst send_email_now = true;\nconst fmt = new Date(body.fecha_hora).toLocaleString('es-AR', {\n  weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit',\n  timeZone: 'America/Argentina/Cordoba', hour12: false,\n});\nconst subject = 'Reserva confirmada · Salón Bella';\nconst greeting = 'Tu reserva quedó confirmada';\nconst startDate = new Date(body.fecha_hora);\nconst endDate = new Date(startDate.getTime() + servicio.duracion_minutos * 60000);\nconst fmtUtc = (d) => { const s = d.toISOString(); return s.substring(0,4)+s.substring(5,7)+s.substring(8,10)+'T'+s.substring(11,13)+s.substring(14,16)+s.substring(17,19)+'Z'; };\nconst startUtc = fmtUtc(startDate);\nconst endUtc = fmtUtc(endDate);\nconst eventTitle = 'Salón Bella · ' + servicio.nombre;\nconst eventLocation = 'Av. Santa Fe 2345 CABA';\nconst eventDetails = 'Reserva confirmada en Salón Bella. Cliente: ' + body.nombre_completo + '. Servicio: ' + servicio.nombre + '.';\nconst gcalUrl = 'https://calendar.google.com/calendar/render?action=TEMPLATE&text='+encodeURIComponent(eventTitle)+'&dates='+startUtc+'/'+endUtc+'&details='+encodeURIComponent(eventDetails)+'&location='+encodeURIComponent(eventLocation);\nconst icsContent = ['BEGIN:VCALENDAR','VERSION:2.0','PRODID:-//Salon Bella//ES','METHOD:PUBLISH','BEGIN:VEVENT','UID:cita-'+$input.first().json.id+'@salonbella.com.ar','DTSTAMP:'+fmtUtc(new Date()),'DTSTART:'+startUtc,'DTEND:'+endUtc,'SUMMARY:'+eventTitle,'DESCRIPTION:'+eventDetails,'LOCATION:'+eventLocation,'END:VEVENT','END:VCALENDAR'].join('\\r\\n');\nconst html = `<!doctype html><html lang=\"es-AR\"><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F2EDE6;font-family:'Inter Tight',Inter,sans-serif;color:#0E0B0A\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#F2EDE6;padding:40px 20px\"><tr><td align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"560\" style=\"max-width:560px\">\n<tr><td style=\"padding:0 0 24px\"><h1 style=\"margin:0;font-family:'Fraunces',Georgia,serif;font-weight:500;font-size:48px;letter-spacing:-0.04em\">Salón <em style=\"color:#FF3B2F\">Bella</em></h1></td></tr>\n<tr><td style=\"font-family:'JetBrains Mono',monospace;font-size:11px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;padding:0 0 8px\">[01] ${greeting}</td></tr>\n<tr><td style=\"font-family:'Fraunces',Georgia,serif;font-size:36px;letter-spacing:-0.04em;line-height:1.05;padding:0 0 32px\">${body.nombre_completo.split(' ')[0]}<em style=\"color:#FF3B2F\">.</em></td></tr>\n<tr><td style=\"background:#FFFFFF;border:1.5px solid #0E0B0A;border-radius:24px;padding:28px;box-shadow:6px 6px 0 #0E0B0A\">\n<div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6;margin-bottom:8px\">Servicio</div>\n<div style=\"font-family:'Fraunces',Georgia,serif;font-style:italic;font-size:32px;letter-spacing:-0.03em\">${servicio.nombre}</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Día y hora</div>\n<div style=\"font-size:18px;font-weight:600\">${fmt} hs</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Lugar</div>\n<div style=\"font-size:14px\">Av. Santa Fe 2345 · CABA</div></td></tr>\n<tr><td style=\"padding:24px 0 0\"><span style=\"display:inline-block;background:#D6FF3F;border:2px solid #0E0B0A;border-radius:999px;padding:14px 22px;font-weight:600;font-size:14px\">✓ Reserva confirmada</span></td></tr>\n<tr><td style=\"padding:28px 0 0\"><div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;margin-bottom:10px\">Sumá el turno a tu calendario</div><a href=\"${gcalUrl}\" style=\"display:inline-block;background:transparent;color:#0E0B0A;text-decoration:none;padding:7px 14px;border:1.5px solid #0E0B0A;border-radius:999px;font-weight:500;font-size:12px;margin-right:10px\">+ Google Calendar</a><span style=\"font-size:11.5px;opacity:0.6\">desde móvil/Outlook usá el adjunto <strong>turno.ics</strong></span></td></tr>\n<tr><td style=\"padding:24px 0 0;font-size:13px;line-height:1.5\">Si necesitás reprogramar, respondé este mail o llamanos al <strong>+54 351 569 8724</strong>.</td></tr>\n<tr><td style=\"padding:32px 0 0;font-family:'JetBrains Mono',monospace;font-size:10px;opacity:0.5;letter-spacing:0.1em;text-transform:uppercase\">© Salón Bella · Buenos Aires</td></tr>\n</table></td></tr></table></body></html>`;\nconst telegramText = '<b>📢 Nueva reserva confirmada</b>\\n\\n💅 <b>Servicio:</b> ' + servicio.nombre +\n  '\\n🗓 <b>Fecha:</b> ' + fmt + ' hs\\n👤 <b>Cliente:</b> ' + body.nombre_completo +\n  '\\n📧 ' + body.email + ' · 📞 ' + body.telefono + '\\n📎 ' + body.medio_reserva;\nreturn [{ binary: { ics: { data: Buffer.from(icsContent, 'utf-8').toString('base64'), mimeType: 'text/calendar', fileName: 'turno.ics' } }, json: { cita_id: $input.first().json.id, send_email_now,\n  email_to: body.email, email_subject: subject, email_html: html, telegram_text: telegramText,\n  reply: 'Listo ' + body.nombre_completo.split(' ')[0] + '. Te confirmo ' + servicio.nombre + ' el ' + fmt + ' hs. ' +\n    'Te mandamos los detalles por mail.' + ' ✨' } }];"
          },
          "id": "4c8407ac-67f1-4c45-8cc2-0e7bd003565e",
          "name": "Armar Plantillas de Aviso (Chat)",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            2240,
            576
          ]
        },
        {
          "parameters": {
            "conditions": {
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.send_email_now }}",
                  "rightValue": true,
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  },
                  "id": "condition-1777328421978-1eanc7zna"
                }
              ],
              "conditions[0]": {
                "operator": {
                  "singleValue": true
                }
              }
            },
            "options": {}
          },
          "id": "a3806054-462e-4bb3-b399-3d23879bf1c5",
          "name": "¿Enviar Mail al Cliente? (Chat)",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            2464,
            576
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $json.email_to }}",
            "subject": "={{ $json.email_subject }}",
            "message": "={{ $json.email_html }}",
            "options": {
              "appendAttribution": false,
              "attachmentsUi": {
                "attachmentsBinary": [
                  {
                    "property": "ics"
                  }
                ]
              },
              "senderName": "Salón Bella"
            }
          },
          "id": "6ebbedcb-44b9-41b6-bda7-354b5dd06f89",
          "name": "Enviar Mail de Confirmación (Chat)",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            2656,
            432
          ],
          "webhookId": "06416abb-007d-4af5-af7a-5a46aec23eea",
          "credentials": {
            "gmailOAuth2": {
              "id": "52j2lE0hHuMGhLTg",
              "name": "Gmail Romassardo"
            }
          }
        },
        {
          "parameters": {
            "chatId": "658942831",
            "text": "={{ $('Armar Plantillas de Aviso (Chat)').first().json.telegram_text }}",
            "additionalFields": {
              "appendAttribution": false,
              "disable_web_page_preview": true,
              "parse_mode": "HTML"
            }
          },
          "id": "501b1304-d4b4-455b-8bd3-59cefdd7cdf6",
          "name": "Avisar a la Dueña por Telegram (Chat)",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            2864,
            592
          ],
          "webhookId": "443572c3-a58a-4853-807b-cbde669af0f3",
          "credentials": {
            "telegramApi": {
              "id": "sthC5kq0IWcOMLuJ",
              "name": "Telegram Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ JSON.stringify({ text: $('Armar Plantillas de Aviso (Chat)').first().json.reply, booked: true }) }}",
            "options": {
              "responseCode": 200
            }
          },
          "id": "6061c019-5ca8-4e6a-a140-676f4ceb419c",
          "name": "Confirmar Reserva al Chat",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            3056,
            592
          ]
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "cronExpression",
                  "expression": "0 */30 * * * *"
                }
              ]
            }
          },
          "id": "10f1a16a-338b-4c4f-b335-36dea07817f4",
          "name": "Disparador · Cada 30 minutos",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            176,
            1328
          ]
        },
        {
          "parameters": {
            "jsCode": "const SUPABASE_URL = 'https://vqkzghdqtevncyycloxv.supabase.co';\nconst SERVICE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzI0MjY1NCwiZXhwIjoyMDkyODE4NjU0fQ.KQ-u8nBPAgYsvnkARws2JbDHZ6r6lnecbGrP59MDpdc';\nconst headers = { apikey: SERVICE_KEY, Authorization: 'Bearer ' + SERVICE_KEY };\n\nconst now = new Date();\nconst start = new Date(now.getTime() + 23.75 * 3600 * 1000).toISOString();\nconst end = new Date(now.getTime() + 24.25 * 3600 * 1000).toISOString();\n\nconst select = encodeURIComponent('id,fecha_hora,cliente:cliente_id(nombre_completo,email,telefono),servicio:servicio_id(nombre)');\nconst url = SUPABASE_URL + '/rest/v1/citas?select=' + select +\n  '&estado=eq.confirmada&recordatorio_24h_enviado=eq.false' +\n  '&fecha_hora=gte.' + start + '&fecha_hora=lte.' + end + '&order=fecha_hora.asc';\n\nconst citas = await this.helpers.httpRequest({ method: 'GET', url, headers, json: true });\nif (!citas.length) return [];\n\nconst fmt = (iso) => new Date(iso).toLocaleString('es-AR', {\n  weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit',\n  timeZone: 'America/Argentina/Cordoba', hour12: false,\n});\n\nreturn citas.filter(c => c.cliente?.email).map(c => {\n  const fecha = fmt(c.fecha_hora);\n  const html = `<!doctype html><html lang=\"es-AR\"><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F2EDE6;font-family:'Inter Tight',Inter,sans-serif;color:#0E0B0A\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background:#F2EDE6;padding:40px 20px\"><tr><td align=\"center\">\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"560\" style=\"max-width:560px\">\n<tr><td style=\"padding:0 0 24px\"><h1 style=\"margin:0;font-family:'Fraunces',Georgia,serif;font-weight:500;font-size:48px;letter-spacing:-0.04em\">Salón <em style=\"color:#FF3B2F\">Bella</em></h1></td></tr>\n<tr><td style=\"font-family:'JetBrains Mono',monospace;font-size:11px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.55;padding:0 0 8px\">[recordatorio · turno mañana]</td></tr>\n<tr><td style=\"font-family:'Fraunces',Georgia,serif;font-size:36px;letter-spacing:-0.04em;line-height:1.05;padding:0 0 32px\">${(c.cliente.nombre_completo||'').split(' ')[0]}<em style=\"color:#FF3B2F\">.</em></td></tr>\n<tr><td style=\"background:#FFFFFF;border:1.5px solid #0E0B0A;border-radius:24px;padding:28px;box-shadow:6px 6px 0 #0E0B0A\">\n<div style=\"font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6;margin-bottom:8px\">Servicio</div>\n<div style=\"font-family:'Fraunces',Georgia,serif;font-style:italic;font-size:32px;letter-spacing:-0.03em\">${c.servicio?.nombre||''}</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Día y hora</div>\n<div style=\"font-size:18px;font-weight:600\">${fecha} hs</div>\n<div style=\"margin:20px 0 8px;font-family:'JetBrains Mono',monospace;font-size:10px;letter-spacing:0.12em;text-transform:uppercase;opacity:0.6\">Lugar</div>\n<div style=\"font-size:14px\">Av. Santa Fe 2345 · CABA</div></td></tr>\n<tr><td style=\"padding:24px 0 0\"><span style=\"display:inline-block;background:#D6FF3F;border:2px solid #0E0B0A;border-radius:999px;padding:14px 22px;font-weight:600;font-size:14px\">⏰ Te esperamos mañana</span></td></tr>\n<tr><td style=\"padding:24px 0 0;font-size:13px;line-height:1.5\">Si necesitás reprogramar, llamanos al <strong>+54 351 569 8724</strong>.</td></tr>\n<tr><td style=\"padding:32px 0 0;font-family:'JetBrains Mono',monospace;font-size:10px;opacity:0.5;letter-spacing:0.1em;text-transform:uppercase\">© Salón Bella · Buenos Aires</td></tr>\n</table></td></tr></table></body></html>`;\n  return { json: { cita_id: c.id, email_to: c.cliente.email,\n    email_subject: 'Recordatorio · Tu turno mañana en Salón Bella', email_html: html } };\n});"
          },
          "id": "a2855ef5-3f89-499e-b4da-7c2e4bc056c2",
          "name": "Buscar Citas de Mañana",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            480,
            1328
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $json.email_to }}",
            "subject": "={{ $json.email_subject }}",
            "message": "={{ $json.email_html }}",
            "options": {
              "appendAttribution": false,
              "senderName": "Salón Bella"
            }
          },
          "id": "3a549132-efda-4157-ba30-e7ba5cd2a694",
          "name": "Enviar Recordatorio por Mail",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            784,
            1328
          ],
          "webhookId": "60beb942-7bb8-4386-b7d2-bad08347b521",
          "credentials": {
            "gmailOAuth2": {
              "id": "52j2lE0hHuMGhLTg",
              "name": "Gmail Romassardo"
            }
          }
        },
        {
          "parameters": {
            "operation": "update",
            "tableId": "citas",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $('Buscar Citas de Mañana').item.json.cita_id }}"
                }
              ]
            },
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "recordatorio_24h_enviado",
                  "fieldValue": "true"
                }
              ]
            }
          },
          "id": "a6429966-9e07-4561-910c-7ed915083e1e",
          "name": "Marcar Recordatorio como Enviado",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            1088,
            1328
          ],
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "toolDescription": "Use when the user asks open/exploratory availability questions (e.g. 'qué días tenés?', 'esta semana', 'cuándo me podés tomar') OR when get_horarios_disponibles for a specific day returned an empty available_slots and you need to suggest alternatives. Returns days with availability over the next N days.",
            "method": "POST",
            "url": "https://vqkzghdqtevncyycloxv.supabase.co/rest/v1/rpc/get_proximos_dias_disponibles",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "apikey",
                  "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
                },
                {
                  "name": "Authorization",
                  "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa3pnaGRxdGV2bmN5eWNsb3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNDI2NTQsImV4cCI6MjA5MjgxODY1NH0.5g4-46hIoIOumt5JN4zOpDBiOv99cscL3St7jqY2A4w"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "svc_nombre",
                  "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servicio_nombre', 'Nombre exacto del servicio (Manicure, Corte, Coloración, Pedicure, Maquillaje social, Tratamiento facial)') }}"
                },
                {
                  "name": "dias_a_buscar",
                  "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dias_a_buscar', 'Cantidad de días hacia adelante a explorar (default 7, max 30)', 'number') }}"
                }
              ]
            },
            "options": {
              "response": {
                "response": {
                  "responseFormat": "json"
                }
              },
              "timeout": 15000
            }
          },
          "id": "5be5a3cf-9a88-40b7-a5a2-4076b46f9c27",
          "name": "get_proximos_dias_disponibles",
          "type": "n8n-nodes-base.httpRequestTool",
          "typeVersion": 4.4,
          "position": [
            640,
            880
          ]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ JSON.stringify({ text: 'Uy, justo se ocupó ese horario mientras confirmábamos. ¿Querés que te busque otro?', booked: false }) }}",
            "options": {}
          },
          "id": "6cb6f660-8137-43ca-90b4-622145cbda2a",
          "name": "Avisar Conflicto al Chat",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.4,
          "position": [
            2256,
            832
          ]
        },
        {
          "parameters": {},
          "id": "3878adff-ddc2-4a49-a275-d850fbc67733",
          "name": "Disparador · Error en Workflow",
          "type": "n8n-nodes-base.errorTrigger",
          "typeVersion": 1,
          "position": [
            1808,
            1328
          ]
        },
        {
          "parameters": {
            "tableId": "errors_log",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "workflow",
                  "fieldValue": "={{ $json.workflow.name }}"
                },
                {
                  "fieldId": "error",
                  "fieldValue": "={{ ($json.execution && $json.execution.error && $json.execution.error.message) || 'Error sin mensaje' }}"
                },
                {
                  "fieldId": "payload",
                  "fieldValue": "={{ JSON.stringify({ execution_id: $json.execution && $json.execution.id, mode: $json.execution && $json.execution.mode, node_name: $json.execution && $json.execution.error && $json.execution.error.node && $json.execution.error.node.name, node_type: $json.execution && $json.execution.error && $json.execution.error.node && $json.execution.error.node.type, stack: $json.execution && $json.execution.error && $json.execution.error.stack, last_node: $json.execution && $json.execution.lastNodeExecuted, started_at: $json.execution && $json.execution.startedAt }) }}"
                }
              ]
            }
          },
          "id": "ca3a9dba-03a6-44a8-a334-b76cafae42a3",
          "name": "Guardar Error en Log",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            2032,
            1328
          ],
          "credentials": {
            "supabaseApi": {
              "id": "2PO2tt6JcHivDD8Q",
              "name": "Supabase Bella Salon"
            }
          }
        },
        {
          "parameters": {
            "content": "## 📝 FLUJO 1 · Reserva por formulario web\n\nCuando un cliente completa el form de reserva en `/`:\n\n1. **Webhook** recibe `nombre_completo`, `telefono`, `email`, `servicio_nombre`, `fecha_hora`.\n2. **Buscar Servicio** trae el `id` y `duracion_minutos` desde el catálogo.\n3. **Buscar Cliente por Teléfono** — si ya existe, reusa su `id`. Si no, **Registrar Cliente Nuevo** lo crea (dedupe por teléfono UNIQUE).\n4. **Guardar Cita en Agenda** persiste en `citas` (el trigger DB chequea overlap por duración).\n5. **Armar Plantillas de Aviso** genera HTML del mail + texto de Telegram + ICS para calendario.\n6. **¿Enviar Mail al Cliente?** → si la cita es a <24 h, manda el mail; si no, va por la rama del recordatorio cron.\n7. **Avisar a la Dueña por Telegram** notifica la nueva reserva.\n8. **Responder al Formulario Web** devuelve `{ok, cita_id}` al frontend.",
            "height": 444,
            "width": 480,
            "color": 5
          },
          "id": "01db6183-84fb-4965-bfbe-6a99d3f134a5",
          "name": "Nota Flujo Formulario",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -592,
            -80
          ]
        },
        {
          "parameters": {
            "content": "## 💬 FLUJO 2 · Chat con Bella (asistente IA)\n\nCuando un cliente conversa con Bella en `/` (componente `<Assistant />`):\n\n1. **Webhook** recibe `{sessionId, message}`.\n2. **Agente Bella (LLM)** razona con GPT-4o (fallback gpt-4o-mini), 15 turnos de memoria.\n   - Tools: `get_horarios_disponibles(fecha)`, `get_proximos_dias_disponibles(rango)`.\n   - Output Parser exige JSON: `{reply, ready_to_book, data:{nombre, tel, email, servicio, fecha_hora, notas}}`.\n3. **¿Lista para Reservar?** valida que `ready_to_book=true` Y los 5 campos de `data` estén llenos.\n   - Si NO → **Responder Mensaje al Chat** devuelve solo el reply textual.\n   - Si SÍ → entra al subflujo de booking (mismos pasos 2-7 del flujo del formulario).\n4. Si Supabase rechaza el INSERT por overlap → **Avisar Conflicto al Chat** responde \"se ocupó ese horario\".\n5. **Confirmar Reserva al Chat** responde `{text, booked:true}` cuando todo OK; el frontend dispara la tarjeta verde solo con ese flag.",
            "height": 428,
            "width": 612,
            "color": 6
          },
          "id": "3c1e8991-be45-4d0f-9be0-ad9339550e0d",
          "name": "Nota Flujo Chat IA",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -624,
            480
          ]
        },
        {
          "parameters": {
            "content": "## ⏰ FLUJO 3 · Recordatorios automáticos 24 h antes\n\nDispara cada 30 minutos:\n\n1. **Buscar Citas de Mañana** consulta `citas` con `estado='confirmada'`, `recordatorio_24h_enviado=false` y `fecha_hora` entre 23 y 25 h en el futuro.\n2. **Enviar Recordatorio por Mail** dispara el mail al cliente.\n3. **Marcar Recordatorio como Enviado** flag `recordatorio_24h_enviado=true` para no duplicar.",
            "height": 240,
            "width": 1100,
            "color": 4
          },
          "id": "84d6a7ee-91db-45e8-9a64-3aa8f745efd2",
          "name": "Nota Flujo Recordatorios",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            160,
            1520
          ]
        },
        {
          "parameters": {
            "content": "## 🚨 FLUJO 4 · Captura global de errores\n\nCualquier nodo del workflow que lance un error no manejado:\n\n1. **Error Trigger** lo captura automáticamente.\n2. **Guardar Error en Log** inserta una fila en `errors_log` con `workflow`, `error`, y un `payload` JSON (execution_id, node_name, stack, último nodo ejecutado).\n3. **Avisar Error a la Dueña por Telegram** manda un mensaje inmediato con workflow + nodo + mensaje + execution_id + hora.\n\nLos errores que SÍ se manejan inline (ej. conflict 409 → \"Avisar Conflicto al Chat\") **no** se loggean acá.",
            "height": 220,
            "width": 800,
            "color": 3
          },
          "id": "5a33d7af-8a3d-44dd-aa6f-31f7d0486104",
          "name": "Nota Flujo Errores",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            1728,
            1520
          ]
        },
        {
          "parameters": {
            "chatId": "658942831",
            "text": "={{ '🚨 <b>Error en Salón Bella</b>\\n\\n<b>Workflow:</b> ' + $json.workflow.name + '\\n<b>Nodo:</b> ' + (($json.execution && $json.execution.error && $json.execution.error.node && $json.execution.error.node.name) || 'desconocido') + '\\n<b>Mensaje:</b> ' + (($json.execution && $json.execution.error && $json.execution.error.message) || 'sin mensaje') + '\\n<b>Execution:</b> ' + (($json.execution && $json.execution.id) || '?') + '\\n<b>Hora:</b> ' + new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Cordoba' }) }}",
            "additionalFields": {
              "appendAttribution": false,
              "disable_web_page_preview": true,
              "parse_mode": "HTML"
            }
          },
          "id": "d526e61a-f3ad-4a5b-8375-340a0c0fcc38",
          "name": "Avisar Error a la Dueña por Telegram",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            2272,
            1328
          ],
          "webhookId": "50f7a512-0e38-4969-9bde-a3b7d5a2c70f",
          "credentials": {
            "telegramApi": {
              "id": "sthC5kq0IWcOMLuJ",
              "name": "Telegram Bella Salon"
            }
          }
        }
      ],
      "connections": {
        "Webhook · Reserva por Formulario": {
          "main": [
            [
              {
                "node": "Preparar Datos del Formulario",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Preparar Datos del Formulario": {
          "main": [
            [
              {
                "node": "Buscar Servicio en Catálogo",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Servicio en Catálogo": {
          "main": [
            [
              {
                "node": "Buscar Cliente por Teléfono",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Cliente por Teléfono": {
          "main": [
            [
              {
                "node": "¿Cliente ya registrado?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "¿Cliente ya registrado?": {
          "main": [
            [
              {
                "node": "Guardar Cita en Agenda",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Registrar Cliente Nuevo",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Guardar Cita en Agenda": {
          "main": [
            [
              {
                "node": "Armar Plantillas de Aviso",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Registrar Cliente Nuevo": {
          "main": [
            [
              {
                "node": "Guardar Cita en Agenda",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Armar Plantillas de Aviso": {
          "main": [
            [
              {
                "node": "¿Enviar Mail al Cliente?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "¿Enviar Mail al Cliente?": {
          "main": [
            [
              {
                "node": "Enviar Mail de Confirmación",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Avisar a la Dueña por Telegram",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Enviar Mail de Confirmación": {
          "main": [
            [
              {
                "node": "Avisar a la Dueña por Telegram",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Avisar a la Dueña por Telegram": {
          "main": [
            [
              {
                "node": "Responder al Formulario Web",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Webhook · Chat con Bella": {
          "main": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Agente Bella (LLM)": {
          "main": [
            [
              {
                "node": "¿Lista para Reservar?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Modelo Principal · GPT-4o": {
          "ai_languageModel": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Modelo Fallback · GPT-4o-mini": {
          "ai_languageModel": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "ai_languageModel",
                "index": 1
              }
            ]
          ]
        },
        "Memoria de Conversación": {
          "ai_memory": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "get_horarios_disponibles": {
          "ai_tool": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Parser de Salida JSON": {
          "ai_outputParser": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "ai_outputParser",
                "index": 0
              }
            ]
          ]
        },
        "¿Lista para Reservar?": {
          "main": [
            [
              {
                "node": "Preparar Datos del Chat",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Responder Mensaje al Chat",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Preparar Datos del Chat": {
          "main": [
            [
              {
                "node": "Buscar Servicio en Catálogo (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Servicio en Catálogo (Chat)": {
          "main": [
            [
              {
                "node": "Buscar Cliente por Teléfono (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Cliente por Teléfono (Chat)": {
          "main": [
            [
              {
                "node": "¿Cliente ya registrado? (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "¿Cliente ya registrado? (Chat)": {
          "main": [
            [
              {
                "node": "Guardar Cita en Agenda (Chat)",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Registrar Cliente Nuevo (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Guardar Cita en Agenda (Chat)": {
          "main": [
            [
              {
                "node": "Armar Plantillas de Aviso (Chat)",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Avisar Conflicto al Chat",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Registrar Cliente Nuevo (Chat)": {
          "main": [
            [
              {
                "node": "Guardar Cita en Agenda (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Armar Plantillas de Aviso (Chat)": {
          "main": [
            [
              {
                "node": "¿Enviar Mail al Cliente? (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "¿Enviar Mail al Cliente? (Chat)": {
          "main": [
            [
              {
                "node": "Enviar Mail de Confirmación (Chat)",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Avisar a la Dueña por Telegram (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Enviar Mail de Confirmación (Chat)": {
          "main": [
            [
              {
                "node": "Avisar a la Dueña por Telegram (Chat)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Avisar a la Dueña por Telegram (Chat)": {
          "main": [
            [
              {
                "node": "Confirmar Reserva al Chat",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Disparador · Cada 30 minutos": {
          "main": [
            [
              {
                "node": "Buscar Citas de Mañana",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Buscar Citas de Mañana": {
          "main": [
            [
              {
                "node": "Enviar Recordatorio por Mail",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Enviar Recordatorio por Mail": {
          "main": [
            [
              {
                "node": "Marcar Recordatorio como Enviado",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "get_proximos_dias_disponibles": {
          "ai_tool": [
            [
              {
                "node": "Agente Bella (LLM)",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "Disparador · Error en Workflow": {
          "main": [
            [
              {
                "node": "Guardar Error en Log",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Guardar Error en Log": {
          "main": [
            [
              {
                "node": "Avisar Error a la Dueña por Telegram",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Rodrigo Massardo",
      "name": "V11",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-05-03T05:22:10.487Z",
          "id": 59,
          "workflowId": "nHNPhKrI2c6Bx04W",
          "versionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
          "event": "activated",
          "userId": "dd492cc0-591a-4d5a-b538-1fbeda2ab4a8"
        },
        {
          "createdAt": "2026-05-03T05:24:03.500Z",
          "id": 61,
          "workflowId": "nHNPhKrI2c6Bx04W",
          "versionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
          "event": "activated",
          "userId": "dd492cc0-591a-4d5a-b538-1fbeda2ab4a8"
        },
        {
          "createdAt": "2026-05-03T05:22:10.304Z",
          "id": 58,
          "workflowId": "nHNPhKrI2c6Bx04W",
          "versionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
          "event": "deactivated",
          "userId": "dd492cc0-591a-4d5a-b538-1fbeda2ab4a8"
        },
        {
          "createdAt": "2026-05-03T05:23:43.963Z",
          "id": 60,
          "workflowId": "nHNPhKrI2c6Bx04W",
          "versionId": "e9135f6e-9f38-4bf7-8aba-2398efe12719",
          "event": "deactivated",
          "userId": "dd492cc0-591a-4d5a-b538-1fbeda2ab4a8"
        }
      ]
    }
  }
}